@use '../../../../common/utils';

.pay {
    padding: 45px 0 60px 0;
    &__container {
        margin-top: 25px;
    }
    &__text:not(:last-child) {
        margin-bottom: 25px;
    }
    &__btns {
        margin-top: 45px;
    }
    &__catalog-btn {
        padding: 16px 38px;
        border-radius: 6.90493px;
        margin-right: 60px;
        text-decoration: none;
    }
}