@use '../../utils';

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    // &_active {
    //     display: flex;
    // }
    &__form {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        background: utils.$var-popup-bg;
        border-radius: 14.7664px;
        width: 358px;
        box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
        border-radius: 17.4636px;
        padding: 40px 45px 40px 45px;
    }
    &__close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 15px;
        right: 20px;
        width: 22.19px;
        height: 22.19px;
        background: center no-repeat url('../../../../img/icons/plus.svg');
        border: none;
        cursor: pointer;
    }
    &__icon {
        @extend %center-xy-flex;
        width: 34px;
        height: 34px;
        margin: 0 0 14px 0;
    }
    &__title {
        @include utils.mix-font(500, 17px, 22px, #000000);
        margin-bottom: 28px;
        text-align: center;
    }
    &__body {
        display: flex;
        flex-flow: column;
        align-content: center;
        width: 100%;
    }
    &__wrap:not(:last-child) {
        margin-bottom: 25px;
    }
    &__wrap {
        position: relative;
    }
    &__wrap input {
        width: 100%;
        height: 50.64px;
        padding-left: 40px;
        font-family: 'TT Norms Pro';
        background: utils.$var-popup-input-bg;
        border: 0.873181px solid utils.$var-popup-border-color;
        border-radius: 5.91549px;
    }
    &__wrap input {
        border: 0.873181px solid utils.$var-popup-border-color;
        border-radius: 5.91549px;
    }
    &__wrap input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &__wrap input::placeholder,
    &__wrap input::-webkit-input-placeholder,
    &__wrap input::-moz-placeholder,
    &__wrap input:-ms-input-placeholder {
        font-family: 'TT Norms Pro';
        @include utils.mix-font(400, 14px, 17px, utils.$var-popup-text-color);
    }
    &__wrap:hover input,
    &__wrap:hover textarea {
        box-shadow: 0 0 1.5px 1px utils.$var-btn-bgcolor;
        transition: box-shadow .2s;
    }
    &__wrap input:focus,
    &__wrap textarea:focus {
        border-color: utils.$var-btn-bgcolor;
        outline: none;
    }
    &__wrap:focus-within::before {
        color: utils.$var-btn-bgcolor;
    } 
    &__wrap::before {
        content: '';
    }
    &__wrap:hover::before {
        color: utils.$var-btn-bgcolor;
        transition: color .2s;
    }
    &__wrong-message {
        margin: 7px 0;
        text-align: center;
        @include utils.mix-font(400, 10px, 15px, utils.$var-popup-wrong-message);
    }
    &__radio {
        display: flex;
        flex-flow: column;
        &-label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &-label:not(:last-child) {
            margin-bottom: 15px;
        }
        &-real {
            display: none;
        }
        &-fake {
            display: inline-block;
            position: relative;
            flex-shrink: 0;
            width: 14.97px;
            height: 14.97px;
            margin-right: 15px;
            border: 1.87138px solid utils.$var-popup-border-color;
            border-radius: 50%;
            background: transparent;
        }
        &-fake::before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            content: '';
            width: 0%;
            height: 0%;
            border-radius: 50%;
            transition-property: width, height;
            transition: .3s;
            background: utils.$var-btn-bgcolor;
        }
        &-real:checked + &-fake::before {
            width: 80%;
            height: 80%;
        }
        &-txt {
            @include utils.mix-font(400, 10px, 14px, utils.$var-popup-text-color);
        }
        &-real:checked ~ &-txt {
            font-weight: 500;
        }
        &-link {
            color: utils.$var-btn-bgcolor;
        } 
    }
}
// signin pop-up modal window
.signin {
    &__form {
        @media screen and (max-width: utils.$var-signin-breakpoint-1) {
            width: 302px;
            padding: 40px 25px 20px 25px;
        }
    }
    &__icon {
        background: center/cover no-repeat url('../../../../img/icons/person.svg');
    }
    &__wrap:last-child::before,
    &__wrap:first-child::before {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 13px;
        height: 13px;
        transform: translateY(-50%);
    }
    &__wrap:first-child::before {
        background: center/cover no-repeat url('../../../../img/icons/phone.svg');
    }
    &__wrap:last-child::before {
        background: center/cover no-repeat url('../../../../img/icons/key.svg');
    }
    &__password-recovery-btn {
        text-align: center;
        @include utils.mix-font(400, 14px, 17px);
        margin: 15px 0 12px 0;
    }
    &__password-recovery-btn,
    &__checkin-btn {
        text-decoration: underline;
        color: utils.$var-green-haze;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__btn {
        width: 143.2px;
        height: 45.41px;
        margin: 0 auto 24px auto;
        border-radius: 5.91549px;
        @include utils.mix-font(500, 14px, 18px, utils.$var-btn-text-color);
    }
    &__register {
        @include utils.mix-font(400, 12px, 18px, utils.$var-black);
        &-txt {
            margin-right: 5px;
        }
    }
}
// // signin pop-up modal window

// subscribe pop-up modal window
.subscribe {
    &__icon {
        background: center/contain no-repeat url('../../../../img/icons/document_case_green.svg');
    }
    &__form {
        width: 455px;
        padding-bottom: 53px;
        @media screen and (max-width: utils.$var-subscribe-breakpoint-1) {
            width: 302px;
            padding: 40px 25px 35px 25px;
        }
    }
    &__title {
        @include utils.mix-font(500, 22px, 28px, #000000);
    }
    &__wrap::before {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 17px;
        height: 14px;
        transform: translateY(-50%);
        background: center/contain no-repeat url('../../../../img/icons/document_case_grey.svg');
    }
    &__btn {
        width: 181.76px;
        height: 57.63px;
        margin-top: 18px;
        border-radius: 7.50825px;
        @include utils.mix-font(500, 18px, 23px, utils.$var-btn-text-color);
    }
}
// // subscribe pop-up modal window

// checkin pop-up modal window
.checkin {
    &__form {
        @media screen and (max-width: utils.$var-checkin-breakpoint-1) {
            width: 303px;
            padding: 40px 25px 20px 25px;
        }
    }
    &__btn {
        width: 175.91px;
        height: 48.66px;
        margin: 38.36px auto 0 auto;
        @include utils.mix-font(500, 13px, 20px, utils.$var-btn-text-color);
    }
    &__wrap:first-child::before,
    &__wrap:not(:first-child)::before {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 11px;
        height: 11px;
        transform: translateY(-50%);
    }
    &__wrap:first-child::before {
        background: center/contain no-repeat url('../../../../img/icons/phone.svg');

    }
    &__wrap:not(:first-child)::before {
        background: center/contain no-repeat url('../../../../img/icons/key.svg');
    }
}
// // checkin pop-up modal window

// reserv pop-up modal window
.reserv {
    &__form {
        width: 654px;
        margin: 0 15px 0 15px;
        @media screen and (max-width: utils.$var-reserv-breakpoint-3) {
            padding: 50px 20px 35px 20px;
        } 
    }
    &__title {
        font-size: 24px;
        line-height: 18px;
    }
    &__conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px 35px;
        margin-top: 25px;
        @media screen and (max-width: utils.$var-reserv-breakpoint-1) {
            grid-column-gap: 20px;
        }
    }
    &__wrap input {
        padding-left: 15px;
    }
    &__wrap:not(:last-child) {
        margin-bottom: 0px;
    }
    &__wrap:nth-child(1) {
        grid-area: 1/1/2/2;
        @media screen and (max-width: utils.$var-reserv-breakpoint-2) {
            grid-area: 1/1/2/3;
        }
    }
    &__wrap:nth-child(2)::before {
    content: 'Время:';
    font-family: "TT Norms Pro";
    color: gray;
    }
    &__wrap:nth-child(2) input {
    padding-left: 80px;
    }
    &__wrap:nth-child(2) {
        grid-area: 2/1/3/2;
        @media screen and (max-width: utils.$var-reserv-breakpoint-2) {
            grid-area: 4/1/5/3;
        }
    }
    // amount
    &__wrap:nth-child(3) {
        grid-area: 1/2/2/3;
        @media screen and (max-width: utils.$var-reserv-breakpoint-2) {
            grid-area: 2/1/3/3;
        }
    }
    // date
    &__wrap:nth-child(4) {
        grid-area: 2/2/2/3;
        @media screen and (max-width: utils.$var-reserv-breakpoint-2) {
            grid-area: 3/1/4/3;
        }
    }
    &__wrap:nth-child(4)::before {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 15px;
        height: 15px;
        padding: 0;
        transform: translateY(-50%);
        background: center/contain no-repeat url('../../../../img/icons/calendar.svg');
        z-index: 1;
        transition: color .2s;
    }
    &__wrap:nth-child(4):hover::before {
        color: utils.$var-btn-bgcolor;
    }
    &__wrap input[type='date']::-webkit-calendar-picker-indicator,
    &__wrap input[type='time']::-webkit-calendar-picker-indicator {
        display: none;
    }
    &__wrap input[type='date'] {
        position: relative;
    }
    &__wrap:nth-child(4):focus-within::before {
        color: utils.$var-btn-bgcolor;
    }
    &__btn {
        width: 164px;
        height: 52px;
        margin: 25px auto 0 auto;
        border-radius: 6.77465px;
        @include utils.mix-font(500, 16px, 21px, utils.$var-btn-text-color);
    }
}    
// // reserv pop-up modal window

// review pop-up modal window
.review {
    // display: flex    ;
    // display: none;
    &__form {
        width: 418px;
        padding: 40px 30px 40px 30px;
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            width: 361px;
        }
        @media screen and (max-width:utils.$var-review-breakpoint-2) {
            width: 310px;
        }
    }
    &__wrap:nth-child(3)   {
        position: relative;
    }
    &__wrap:nth-child(3)::before {
        content: '0 / 500';
        position: absolute;
        top: -14px;
        right: 0;
        @include utils.mix-font(400, 10px, 9px, utils.$var-popup-text-color);
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            top: 13px;
        }
    }
    &__field-name {
        margin-right: 10px;
        @include utils.mix-font(400, 15px, 19px, utils.$var-card-content-color);
    }
    &__wrap &__label &__field-name {
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            margin: 0 0 5px 0;
        }
    }
    &__rating {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__label {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            flex-flow: column;
        }
        & input,
        & textarea {
            width: 69%;
            @media screen and (max-width:utils.$var-review-breakpoint-1) {
                width: 100%;
            }
        }
        & textarea {
            resize: none;
        }
        & input {
            padding-left: 10px;
        }
    }
    &__btn {
        width: 175.44px;
        padding: 10px 17px;
        margin: 0 auto 0 31%;
        @include utils.mix-font(500, 16px, 21px, utils.$var-btn-text-color);
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            margin: 0 auto;
        }
    }
}
// // review pop-up modal window

.password-recovery {
    
}
