@use '../../utils';

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    &__container {
    }
}
.popup-form {
    position: relative;
    background: utils.$var-color-white;
    box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
}
.close-btn {
    background: transparent;
    cursor: pointer;
    border: none;
}
.popup-icon {
    &__item {
        width: 29px;
        height: 29px;
        margin: 0 auto;
        background: center/cover no-repeat url('../../../../img/icons/person.svg');
    }
}
.popup-title1 {
    @include utils.mix-font(500, 15px, 18px, utils.$var-color-black);
    text-align: center;
}
.input-wrap {
    position: relative;
}
.input-check,
.input-phone,
.input-key {
    position: absolute;
}
.input-phone {
    background: center/cover no-repeat url('../../../../img/icons/phone.svg');
}
.input-key {
    background: center/cover no-repeat url('../../../../img/icons/key.svg');
}
.form-input {
    font-family: 'TT Norms Pro';
    font-style: normal;
    color: utils.$var-color-silver;
    background-color: utils.$var-color-alabaster;
    border-color: utils.$var-color-gallery;
    border-style: solid;

    &[type="tel"]:focus:invalid ~ .input-check::after,
    &[type="password"]:focus:invalid ~ .input-check::after,
    &[type="text"]:focus:invalid ~ .input-check::after {
        content: '✖';
        color: utils.$var-color-burnt-sienna;
    }
    &[type="tel"]:focus:valid ~ .input-check::after,
    &[type="password"]:focus:valid ~ .input-check::after,
    &[type="text"]:focus:valid ~ .input-check::after {
        content: '✓';
        color: utils.$var-color-green-haze;
    }
    &:hover {
        box-shadow: 0 0 1.5px 1px utils.$var-color-green-haze;
        transition: box-shadow .2s;
    }
    &:focus {
        border-color: utils.$var-color-green-haze;
        outline: none;
    }
    &::placeholder {
        font-family: 'TT Norms Pro';
        font-style: normal;
        color: utils.$var-color-silver;
        // @include utils.mix-font(400, 14px, 17px, utils.$var-color-silver);
    }
    // position: relative;

    &__item {
        // width: 100%;
        // height: 100%;
        // padding-left: 40px;
        // font-family: 'TT Norms Pro';
        // @include utils.mix-font(400, 15px, 15px, utils.$var-color-liver);
        // background: utils.$var-color-alabaster;
        // border: 0.873181px solid utils.$var-color-gallery;
        // border-radius: 5.91549px;
        // &_theme_square {
        //     background-color: utils.$var-color-alabaster;
        //     border: 0.435616px solid utils.$var-color-gallery;
        // }
    }
    // &__item:hover {
    //     box-shadow: 0 0 1.5px 1px utils.$var-color-green-haze;
    //     transition: box-shadow .2s;
    // }
    // &__item:focus {
    //     border-color: utils.$var-color-green-haze;
    //     outline: none;
    // }
    &__item[type="tel"]:focus::placeholder {
        color: utils.$var-color-liver;
    }
    &__item::placeholder {
        // font-family: 'TT Norms Pro';
        // @include utils.mix-font(400, 14px, 17px, utils.$var-color-silver);
    }
    &__item[type="tel"]:valid ~ .form-input__check::after,
    &__item[type="password"]:valid ~ .form-input__check::after,
    &__item[type="text"]:valid ~ .form-input__check::after {
        // content: '✓';
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // right: -17px;
        // color: utils.$var-color-green-haze;
    }
    &__item[type="tel"]:focus:invalid ~ .form-input__check::after,
    &__item[type="password"]:focus:invalid ~ .form-input__check::after,
    &__item[type="text"]:focus:invalid ~ .form-input__check::after {
        // content: '✖';
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // right: -17px;
        // color: utils.$var-color-burnt-sienna;
    }
    &__phone,
    &__key,
    &__document-case,
    &__date {
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
    }
    &__phone,
    &__key,
    &__document-case {
        // left: 15px;
        // width: 13px;
        // height: 13px;
    }
    &__phone {
        // background: center/cover no-repeat url('../../../../img/icons/phone.svg');
    }
    &__key {
        // background: center/cover no-repeat url('../../../../img/icons/key.svg');
    }
    &__document-case {
        background: center/contain no-repeat url('../../../../img/icons/document_case_grey.svg');
    }
    &__date {
        background: center/cover no-repeat url('../../../../img/icons/date.svg');
    }
}

.password-recovery {
    &__form {
        width: 303px;
        padding: 24px 38px 21px 38px;
        border-radius: 14.7609px;
        @media screen and (max-width: utils.$var-general-brkpoint-4) {
            width: 280px;
            padding: 20px 25px 20px 25px;
        }
    }
    &__close {
        position: absolute;
        width: 29px;
        height: 29px;
        top: 10px;
        right: 14px;
    }
    &__icon {
    }
    &__title {
        margin: 12px 0 24px 0;
    }
    &__body {
    }
    &__inputs {
    }
    &__wrap {
        height: 42px;    
    }
    &__wrap:not(:last-child) {
        margin-bottom: 21px;
    }
    &__container-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__btn {
        width: 50%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: transparent;
        @include utils.mix-font(500, 12px, 15px);
        color: utils.$var-color-green-haze;
        transition: .2s background, .2s color;
        cursor: pointer;
        &_active {
            background-color: utils.$var-color-green-haze;
            color: utils.$var-color-white;
        }
    }
}
// signin pop-up modal window
.signin {
    &__form {
        width: 302px;
        // width: 358px;
        padding: 24px 38px 22px 38px;
        border-radius: 14px;
        @media screen and (max-width: utils.$var-general-brkpoint-4) {
            width: 260px;
            padding: 20px 25px 20px 25px;
        }
    }
    &__close {
        position: absolute;
        width: 29px;
        height: 29px;
        top: 12px;
        right: 14px;
    }
    &__icon {
    }
    &__title {
        margin-top: 11px;
        margin-bottom: 24px;
    }
    &__wrap {
        // height: 42px;    
    }
    &__wrap:not(:last-child) {
        margin-bottom: 21px;
    }
    &__input {
        width: 100%;
        height: 42.81px;
        padding-left: 41.33px;
        border-radius: 5px;
        border-width: 1px;
        font-size: 14px;
    }
    &__input::placeholder {
        font-weight: 400;
        font-size: 10.33px;
        line-height: 15px;
    }
    &__check,
    &__phone,
    &__key {
        top: 50%;
        transform: translateY(-50%);
    }
    &__check {
        right: -18px;
    }
    &__phone,
    &__key {
        width: 10px;
        height: 10px;
        left: 15px;
    }
    &__wrong-message {
        visibility: hidden;
        margin-top: 5px;
        text-align: center;
        @include utils.mix-font(400, 10px, 15px, utils.$var-color-burnt-sienna);
    }
    &__wrong-message_hidden {
        visibility: visible;
    }
    &__btns {
        margin-top: 7px;
        margin-bottom: 15px;
        display: flex;
        flex-flow: column;
        align-items: center
    }
    &__password-recovery-btn {
        @include utils.mix-font(400, 12px, 14px);
        // @include utils.mix-font(400, 14px, 17px);
        margin-bottom: 10px;
    }
    &__password-recovery-btn,
    &__checkin-btn {
        text-decoration: underline;
        color: utils.$var-color-green-haze;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__enter-btn {
        width: 121.04px;
        height: 38.38px;
        // width: 143.2px;
        // height: 45.41px;
        border-radius: 5px;
        @include utils.mix-font(500, 12px, 15px, utils.$var-color-white);
        // @include utils.mix-font(500, 14px, 18px, utils.$var-color-white);
    }
    &__register {
        display: flex;
        justify-content: center;
        align-items: center;
        @include utils.mix-font(400, 10px, 15px, utils.$var-color-black);
        // @include utils.mix-font(400, 12px, 18px, utils.$var-color-black);
        &-txt {
            margin-right: 5px;
        }
    }
}
// // signin pop-up modal window

// subscribe pop-up modal window
.subscribe {
    &__icon {
        width: 23px;
        height: 18.82px;
        margin: 0 auto 12px auto;
        background: center/contain no-repeat url('../../../../img/icons/document_case_green.svg');
    }
    &__form {
        width: 303px;
        padding: 34px 31px 35px 31px;
        border-radius: 14px;
        text-align: center;
        @media screen and (max-width: utils.$var-general-brkpoint-4) {
            width: 271px;
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 13px;
        width: 29px;
        height: 29px;
    }
    &__title {
        margin-bottom: 22px;
    }
    &__wrap {
        height: 42.82px;
    }
    &__btn {
        // width: 181.76px;
        // height: 57.63px;
        width: 121.04px;
        height: 38.38px;
        // margin-top: 18px;
        margin-top: 12px;
        // border-radius: 7.50825px;
        border-radius: 5px;
        // @include utils.mix-font(500, 18px, 23px, utils.$var-color-white);
        @include utils.mix-font(500, 12px, 15px, utils.$var-color-white);

    }
}
// // subscribe pop-up modal window

// checkin pop-up modal window
.checkin {
    &__form {
        width: 303px;
        height: 445px;
        padding: 24px 38px 18px 38px;
        border-radius: 14px;
        @media screen and (max-width: utils.$var-general-brkpoint-4) {
            width: 280px;
            padding: 24px 25px 18px 25px;        
        }
    }
    &__close {
        position: absolute;
        width: 29px;
        height: 29px;
        top: 7px;
        right: 6px;
    }
    &__title {
        margin: 11px 0 25px 0;
    }
    &__wrap {
        height: 42.82px;
    }
    &__wrap:not(:last-child) {
        margin-bottom: 21px;
    }
    &__wrong-message {
        margin: 13px 0 12px 0;
        @include utils.mix-font(400, 7.3px, 11px, utils.$var-color-burnt-sienna);
    }
    &__row {
        display: flex;
        align-items: center;
        align-items: flex-start;
    }
    &__row:not(:last-child) {
        margin-bottom: 12px;
    }
    &__checkbox {
        flex-shrink: 0;
        margin-right: 12.5px;
    }
    &__label {
        @include utils.mix-font(400, 7.3px, 11px, utils.$var-color-silver);
    }
    &__policy {
        text-decoration: none;
        color: utils.$var-color-green-haze;
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__submit {
        // width: 175.91px;
        // height: 48.66px;
        width: 138.8px;
        height: 38.39px;
        // margin: 38.36px auto 0 auto;
        border-radius: 5px;
        @include utils.mix-font(500, 10.3px, 16px, utils.$var-color-white);
        // @include utils.mix-font(500, 13px, 20px, utils.$var-color-white);
    }
}
// // checkin pop-up modal window

// reserv pop-up modal window
.reserv {
    &__form {
        width: 654px;
        padding: 40px 56px 27px 56px;
        border-radius: 14.7609px;
        text-align: center;
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            width: 303px;
            padding: 42px 37px 26px 37px;
        }
    }
    &__close {
        position: absolute;
        top: 12px;
        right: 19px;
        width: 40px;
        height: 40px;
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            width: 25px;
            height: 25px;
            top: 15px;
            right: 14px;
        }
    }
    &__title {
        margin-bottom: 17px;
        text-align: center;
        @include utils.mix-font(500, 24px, 18px, utils.$var-color-black); 
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            font-size: 15px;
            margin-bottom: 25px;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'phone amount'
                                'time date';
        grid-gap: 14px 33px;
        margin-top: 11px;

        & .reserv__wrap:nth-child(1) {
            grid-area: phone;
        }
        & .reserv__wrap:nth-child(2) {
            grid-area: time;
        }
        & .reserv__wrap:nth-child(3) {
            grid-area: amount;
        }
        & .reserv__wrap:nth-child(4) {
            grid-area: date;
        }
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            grid-template-columns: 1fr;
            grid-template-areas: 'phone' 'amount' 'date' 'time';
            grid-gap: 22px 0;
            margin-top: 22px;
        }
    }
    &__wrap {
        height: 48px;
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            height: 42px;
        }
    }
    &__input {
        padding-left: 15px;
    }
    &__input:focus ~ .reserv__name {
        display: none;
    }
    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include utils.mix-font(400, 14px, 17px, utils.$var-color-silver);
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            left: 15px;
            transform: translateY(-50%);
        }
        &_active {
            display: none;
        }
    }
    &__date {
        width: 15px;
        height: 15px;
        right: 20px;
    }
    &__wrap input[type='date']::-webkit-calendar-picker-indicator,
    &__wrap input[type='time']::-webkit-calendar-picker-indicator {
        display: none;
    }
    &__btn {
        width: 164px;
        height: 52px;
        margin-top: 25px;
        border-radius: 6.77465px;
        @include utils.mix-font(500, 16px, 21px, utils.$var-color-white);
        @media screen and(max-width: utils.$var-reserv-brkpoint-1) {
            width: 121.04px;
            height: 38.38px;
            margin-top: 23px;
            border-radius: 5px;
            font-size: 12px;
            line-height: 15px;
        }
    }
}    
// // reserv pop-up modal window

// review pop-up modal window
.review {
    display: flex;
    // display: none;
    &__form {
        width: 418px;
        padding: 40px 30px 40px 30px;
        // @media screen and (max-width:utils.$var-review-breakpoint-1) {
        //     width: 361px;
        // }
        // @media screen and (max-width:utils.$var-review-breakpoint-2) {
        //     width: 310px;
        // }
    }
    &__rating {
        &-item {
            width: 20px;
            height: 20px;
        }
        // display: flex;
        // align-items: center;
        // cursor: pointer;
    }
    &__input {
        width: 100%;
        height: 25.27px;
        padding-left: 12.2px;
        border-width: 1px;
        font-size: 12px;
    }
    &__input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
    }
    &__check {
        top: 50%;
        transform: translateY(-50%);
    }

    &__wrap:nth-child(3)   {
        position: relative;
    }
    &__wrap:nth-child(3)::before {
        content: '0 / 500';
        position: absolute;
        top: -14px;
        right: 0;
        @include utils.mix-font(400, 10px, 9px, utils.$var-color-silver);
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            top: 13px;
        }
    }

    &__field-name {
        margin-right: 10px;
        @include utils.mix-font(400, 15px, 19px, utils.$var-color-black);
    }
    &__wrap &__label &__field-name {
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            margin: 0 0 5px 0;
        }
    }
    &__label {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            flex-flow: column;
        }
        & input,
        & textarea {
            width: 69%;
            @media screen and (max-width:utils.$var-review-breakpoint-1) {
                width: 100%;
            }
        }
        & textarea {
            resize: none;
        }
        & input {
            padding-left: 10px;
        }
    }
    &__btn {
        width: 175.44px;
        padding: 10px 17px;
        margin: 0 auto 0 31%;
        @include utils.mix-font(500, 16px, 21px, utils.$var-color-white);
        @media screen and (max-width:utils.$var-review-breakpoint-1) {
            margin: 0 auto;
        }
    }
}
// // review pop-up modal window


