@use '../../utils';

.rating {
    display: flex;
    // flex-direction: row-reverse;
    font-size: 1.2em;
    justify-content: space-around;
    margin-left: 9px;
    text-align: center;
    & input {
        display: none;
    }
    & label {
        @extend %center-xy-flex;
        margin-right: 5px;
        color:#ccc;
        cursor:pointer;
    }
    .rating input :checked ~ label {
        color: utils.$var-btn-bgcolor;
    }
    & label:hover,
    & label:hover ~ label {
        color: utils.$var-rating-star-hover-color;
    }
    // &__star_active {
    //     color: utils.$var-btn-bgcolor !important;
    // }
    // to display the rating of a product
    &__star_active-0 :nth-child(-n+0) {
        color: utils.$var-btn-bgcolor !important;
    }
    &__star_active-1 :nth-child(-n+1) {
        color: utils.$var-btn-bgcolor !important;
    }
    &__star_active-2 :nth-child(-n+2) {
        color: utils.$var-btn-bgcolor !important;
    }
    &__star_active-3 :nth-child(-n+3) {
        color: utils.$var-btn-bgcolor !important;
    }
    &__star_active-4 :nth-child(-n+4) {
        color: utils.$var-btn-bgcolor !important;
    }
    &__star_active-5 :nth-child(-n+5) {
        color: utils.$var-btn-bgcolor !important;
    }
    // // to display the rating of a product
    &__set > i {
        color: #ccc;
        font-style: 18px;
        transition: color .2s;
    }
    &__set > i:not(:last-child) {
        margin-right: 5px;
    }
}