@use '../../utils';

.rating {
    display: flex;
    flex-direction: row-reverse;
    &__item {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: center/contain no-repeat url(../../../../img/icons/star/star_not_active.svg);
        cursor: pointer;
    }
    &__item:checked {
        background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
    }
    &__item:checked ~ .rating__item {
        background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
    }
    &__item:hover {
        background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
    }
}
