$white: #fff;
$black: #000000;
$green-haze: #00AC4E;
$alabaster: #FCFCFC;
$gallery: #EBEBEB;
$liver: #4F4F4F;
$color-burnt-sienna: #EB5757;

$page-bg: rgba(0, 0, 0, -0.2);
$widget-bg: #FFFFFF;
$block-bg: #F9F9F9;
$gray-4: #BDBDBD;
$title-1-color:  #000000;
$text-color: #000000;
$btn-bgcolor: #00AC4E;
$btn-text-color:#FFFFFF;
$rating-star-hover-color: #00d64e;
$placeholder-txt-color: #C6C6C6;

$subtitle-color:#828282;
$title-color:#333333;

$header-burger-color: #333333;

$mobmenu-bgcolor: #343E48;
$mobmenu-text-color: #FFFFFF;
$mobmenu-dropdown-text-color: #F2F2F2;

$slider2-text-color: #4F4F4F;

// $products-title-color: #000000;

// $card-title-color: #000000;
$card-content-color: #000000;
$card-star-color: #EBEBEB;
$card-star-active-color: #00AC4E;
$card-price-1-color: #000000;
$card-price-2-color: #828282;

$pagination-text-color: #000000;

$footer-bg: #00AC4E;
$footer-text-color: #FFFFFF;

$buy-text-color: #C6C6C6;
$buy-text-color-2: #000000;

$display-bg: #FCFCFC;
$display-border-color: #EBEBEB;
$form-border-color: #EBEBEB;
$form-bg-color: #FCFCFC;

$list-btn-color: #C6C6C6;

$tab-btn-text-color: #828282;
$tab-btn-hover-color: #00d64e;
$tab-title-color: #000000;
$tab-text-color: #828282;
// $tab-slide-bg: #F2F2F2;
$tab-slide-bg: #eeeeed;
$tab-soc-text-color: #2D9CDB;

$bonus-range-bg: #dbdbdb;

$basket-list-border-color:#EBEBEB;

// breakpoints
// general breakpoints
$general-brkpoint-1: 1024px;
$general-brkpoint-2: 768px;
$general-brkpoint-3: 480px;
$general-brkpoint-4: 320px;

$header-breakpoint-1: 590px;
$header-breakpoint-2: 455px;
$header-breakpoint-3: 397px;
$header-breakpoint-4: 360px;  

$navigation-breakpoint-1: 950px;
$delivery-breakpoint-1: 600px;

$footer-breakpoint-1: 932px;
$footer-breakpoint-2: 855px;
$footer-breakpoint-3: 634px;
$footer-breakpoint-4: 512px;
$footer-breakpoint-5: 440px;

$aboutprod-breakpoint-1: 930px;
$aboutprod-buy-breakpoint-1: 350px;
$aboutprod-tab-breakpoint-1: 464px;

$basket-breakpoint-1: 955px;
$basket-breakpoint-2: 650px;
$basket-breakpoint-3: 585px;
$basket-breakpoint-4: 430px;

$regis-breakpoint-1: 819px;
$regis-breakpoint-2: 527px;
$regis-breakpoint-3: 379px;

$cab-form-breakpoint-1: 975px;
$cab-form-breakpoint-2: 500px;
$cab-history-breakpoint-1: 879px;
$cab-history-breakpoint-2: 550px;
$cab-history-breakpoint-3: 400px;
$cab-history-breakpoint-4: 325px;

$support-breakpoint-1: 710px;

    // pop-up windows
$popup-text-color: #C6C6C6;
$popup-bg: #FFFFFF;
$popup-border-color:#EBEBEB;
$popup-input-bg: #FCFCFC;
$popup-wrong-message: #EB5757;
$datepicker-text-color: #333333;

$signin-breakpoint-1: 430px;
$subscribe-breakpoint-1: 530px;
$checkin-breakpoint-1: 400px;

$reserv-breakpoint-1: 648px;
$reserv-breakpoint-2: 600px;
$reserv-breakpoint-3: 450px;
$review-breakpoint-1: 466px;
$review-breakpoint-2: 410px;

$table-breakpoint-1: 900px;

    // // pop-up windows
// // breakpoints