// colors
$color-white: #fff;
$color-black: #000000;
$color-green-haze: #00AC4E;
$color-alabaster: #FCFCFC;
$color-gallery: #EBEBEB;
$color-liver: #4F4F4F;
$color-burnt-sienna: #EB5757;
$color-silver:#C6C6C6;
$color-malachite: #00d64e;
$color-alic: #F9F9F9;
$color-silena: #BDBDBD;
$color-gray: #828282;
$color-mine-shaft: #333333;
$color-limed-spruce: #343E48;
$color-concrete: #F2F2F2;
$color-desert-storm: #eeeeed;
$color-curious-blue: #2D9CDB;
$color-alto: #dbdbdb;
$color-bigli: rgba(0, 0, 0, -0.2);

// breakpoints
// general breakpoints
$general-brkpoint-1: 1024px;
$general-brkpoint-2: 768px;
$general-brkpoint-3: 480px;
$general-brkpoint-4: 320px;

$header-breakpoint-1: 590px;
$header-breakpoint-2: 455px;
$header-breakpoint-3: 397px;
$header-breakpoint-4: 360px;  

$navigation-breakpoint-1: 950px;
$delivery-breakpoint-1: 600px;

$footer-breakpoint-1: 932px;
$footer-breakpoint-2: 855px;
$footer-breakpoint-3: 634px;
$footer-breakpoint-4: 512px;
$footer-breakpoint-5: 440px;

$aboutprod-breakpoint-1: 930px;
$aboutprod-buy-breakpoint-1: 350px;
$aboutprod-tab-breakpoint-1: 464px;

$basket-breakpoint-1: 1045px; 
$basket-breakpoint-2: 650px;
$basket-breakpoint-3: 585px;
$basket-breakpoint-4: 430px;

$regis-breakpoint-1: 859px; //819px;
$regis-breakpoint-2: 527px;
$regis-breakpoint-3: 379px;

$cab-form-breakpoint-1: 975px;
$cab-form-breakpoint-2: 500px;
$cab-history-breakpoint-1: 879px;
$cab-history-breakpoint-2: 722px;
$cab-history-breakpoint-3: 400px;
$cab-history-breakpoint-4: 325px;

$support-breakpoint-1: 710px;

$signin-breakpoint-1: 430px;
$subscribe-breakpoint-1: 530px;
$checkin-breakpoint-1: 400px;

$reserv-breakpoint-1: 648px;
$reserv-breakpoint-2: 600px;
$reserv-breakpoint-3: 450px;
$review-breakpoint-1: 466px;
$review-breakpoint-2: 410px;

$table-breakpoint-1: 900px;

// pop-up breakpoints
$reserv-brkpoint-1: 733px;
// // breakpoints