@use '../../utils';

.mobmenu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 67%;
    z-index: 10;
    transition: left .2s;
    &_active {
        left: 0;
    }
    &__overlay {
        position: absolute;
        display: none;
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        transition: left .2s;
        z-index: 9;
        &_active {
            display: block;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        padding-left: 30px;
        background: utils.$var-color-white;
    }
    &__burger {
        width: 20px;
        height: 20px;
        margin-right: 53px;
        background: utils.$var-color-green-haze;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &__dropdown {
        display: none;
        padding: 10px 0 15px 40px;
        &-node:not(:last-child) {
            margin-bottom: 15px;
        }
        &-text {
            font-family: 'TT Hoves';
            @include utils.mix-font(400, 10px, 12px, utils.$var-color-concrete);
        }
        &-img {
            @extend %center-xy-flex;
            & > i {
            display: block;
            font-size: 14px;
            color: utils.$var-color-white;
            }
        }
    }
    &__nav {
        height: 100vh;
        padding: 30px 21px 0 30px;
        background: utils.$var-color-limed-spruce;
        overflow-y: auto;
    }
    &__list {
        list-style-type: none;
    }
    &__node {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:first-child) {
            margin-top: 25px;
        }
        &:last-child {
            margin-top: 50px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__icon {
        width: 16px;
        height: 14px;
        margin-right: 7px;
        &-item {
            @extend %inner-img;
        }
    }
    &__text {
        font-family: 'TT Hoves';
        @include utils.mix-font(400, 14px, 16px, utils.$var-color-white);
    }
    &__btn {
        width: 7px;
        height: 12px;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: transform .2s;
        &-icon {
            display: block;
            @extend %inner-img;
        }
        &_active {
            transform: rotateZ(-90deg);
        }
    }
}