@use '../../utils';

.buy {
    width: 311.75px;
    padding: 31px 29px;
    background: utils.$var-color-white;
    box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    &__title {
        @include utils.mix-font(500, 18px, 23px, utils.$var-color-black);
    }
    &__rating {
        margin: 9px 0 0 0;
        justify-content: start;
    }
    &__like {
        width: 14px;
        height: 14px;
    }
    &__reviews {
        margin-top: 13px;
        &-text,
        &-amount {
            @include utils.mix-font(400, 12px, 19px, utils.$var-color-silver);
        }
    }
    &__price {
        margin-top: 30px;
        &-text {
            @include utils.mix-font(400, 12px, 19px, utils.$var-color-silver);
        }
        &-cost,
        &-currency {
            @include utils.mix-font(500, 18px, 23px, utils.$var-color-black)
        }
    }
    &__joke {
        margin-top: 25px;
        &-text {
            @include utils.mix-font(400, 12px, 19px, utils.$var-color-silver);
        }
        &-amount {
            @include utils.mix-font(500, 18px, 23px, utils.$var-color-black)
        }
    }
    &__amount {
        margin-top: 22px;
        &-text {
            @include utils.mix-font(400, 12px, 19px, utils.$var-color-silver);
        }
    }
    &__display {
        width: 116.57px;
        height: 42.47px;
        // &-item {
        // }
        &-amount,
        &-units {
            @include utils.mix-font(400, 12px, 19px, utils.$var-color-black);
        }
    }
    &__display::before {
        position: absolute;
        right: 0;
        bottom: -18px;
        content: 'Ед. изм.: упаковка';
        @include utils.mix-font(400, 9px, 14px, utils.$var-color-silver);
    }
    &__cart-btn {
        width: 25px;
        height: 25px;
    }
     &__total {
        margin-top: 30px;
        &-text {
            @include utils.mix-font(500, 14px, 22px, utils.$var-color-black);
        }
        &-amount,
        &-currency {
            @include utils.mix-font(500, 18px, 23px, utils.$var-color-green-haze);
        }
    }
    &__amount, 
    &__price,
    &__joke,
    &__total,
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btns {
        margin-top: 18px;    
    }
    &__btn {
        width: 194.28px;
        height: 39.76px;
        border-radius: 4.51818px;
        @include utils.mix-font(500, 18px, 23px, utils.$var-color-white);
        @media screen and (max-width: 400px) {
            margin-right: 20px;
        }
    }
}