@use '../../../../common/utils';

.slider2 {
    margin-top: 25px;
    &__link {
        position: relative;
        display: inline-block;
        font-family: 'TT Hoves';
        @include utils.mix-font(400, 23.3333px, 36px, utils.$var-color-liver, uppercase);
        text-decoration: none;
        transition: color .2s;
        white-space: nowrap;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 16px;
            border-radius: 9.03636px;
            background-color: utils.$var-color-green-haze;
            opacity: 0;
            transition: opacity .2s;
            z-index: -1;
        }
        &:hover {
            color: utils.$var-color-white;
        }
        &:hover::before,
        &:focus::before {
            opacity: .9;
        }
    }
    &__slide {
        width: auto !important;
    }
    &__next,
    &__prev {
        position: absolute;
        width: 30px;
        height: 38px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: utils.$var-color-white;
        z-index: 2;
        cursor: pointer;
    }
    &__next {
        right: 0;
    }
    &__prev {
        left: 0;
    }
    &__next.slider2__button-disabled,
    &__prev.slider2__button-disabled {
        cursor: auto;
    }
    &__next.slider2__button-disabled .slider2__next-img,
    &__prev.slider2__button-disabled .slider2__prev-img {
        opacity: .35;
    }
    &__next-img,
    &__prev-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        object-fit: cover;
    }
    &__next-img {
        right: 0;
    }
    &__prev-img {
        left: 0;
        transform: translateY(-50%) rotateZ(180deg);
    }
}