@use '../../../../common/utils';

.support {
    padding: 47px 0 249px 0;
    &__title {
        margin-bottom: 45px;
    }
    &__text {
        display: block;
        resize: none;
        width: 672px;
        height: 174px;
        padding: 19px 20px;
        background: utils.$var-color-alic;
        border: 1px solid transparent;
        border-radius: 5px;
        outline: none;
        @media screen and(max-width: utils.$var-support-breakpoint-1) {
            width: 100%;            
        }
        &:focus {
            border: solid 1px utils.$var-color-green-haze;
        }
        &:hover {
            box-shadow: utils.$var-box-shadow-input;
            transition: box-shadow .2s;
        }
    }
    &__text,
    &__text::placeholder,
    &__text::-moz-placeholder,
    &__text::-webkit-input-placeholder {
        font-family: 'TT Hoves';
        @include utils.mix-font(400, 20px, 21px, utils.$var-color-silena);
    }
    &__btn {
        margin-top: 45px;
        padding: 18px 46px;
        border-radius: 7.8169px;
        @include utils.mix-font(500, 19px, 24px, utils.$var-color-white);
    }
}