@charset "UTF-8";
.header__user-btn, .header__basket-btn, .popup__icon, .bonus__icon, .rating label, .pwa__column, .mobmenu__dropdown-img, .display__item, .basket-cart, .basket-cart__amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobmenu__icon-item, .mobmenu__btn-icon, .list__icon img, .card__img-item, .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "TT Norms Pro";
}

.body_lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: #00AC4E;
  border: none;
  cursor: pointer;
}

[data-dropdown=menu] {
  display: none;
}

.menu__dropdown_active {
  display: block !important;
}

.basket-cart {
  text-decoration: none;
  background: transparent;
}
.basket-cart__amount {
  border-radius: 50%;
  background: #EB5757;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 8px;
  color: #FFFFFF;
  font-family: "TT Hoves";
}

.shopping-cart {
  border-radius: 9.03636px;
  background-color: #00AC4E;
}

.card {
  width: 205.5px;
}
.card__img {
  height: 125.83px;
  border-radius: 4.52641px;
  margin-bottom: 9px;
  overflow: hidden;
}
.card__content {
  margin-bottom: 12.58px;
}
.card__content-2 {
  margin-bottom: 13.58px;
}
.card__title {
  font-weight: 500;
  font-style: normal;
  font-size: 14.4845px;
  text-transform: capitalize;
  line-height: 22px;
  color: #000000;
  margin: 0;
  margin-bottom: 5.39px;
}
.card__description {
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
  margin-bottom: 12.69px;
}
.card__star {
  font-size: 14px;
  color: #EBEBEB;
}
.card__star:not(:last-child) {
  margin: 0 4px 9.65px 0;
}
.card__price {
  display: flex;
}
.card__price-1 {
  display: flex;
  margin-right: 18.11px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 23px;
  color: #000000;
}
.card__price-1-item {
  margin-right: 5px;
}
.card__price-2 {
  display: flex;
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 23px;
  color: #828282;
}
.card__price-2-text {
  margin-right: 3px;
}
.card__button {
  width: 140.32px;
  height: 38.02px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 14px;
  color: #FFFFFF;
}
.card__add {
  display: none;
  justify-content: space-between;
}
.card__display {
  width: 130.32px;
  height: 38.02px;
}
.card__basket {
  border-radius: 9.03636px;
  background-color: #00AC4E;
}
.card__basket-icon {
  color: #FFFFFF;
  font-size: 22px;
}

.display {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.903636px solid #EBEBEB;
  border-radius: 9.03636px;
  background: #FCFCFC;
}
.display__btn-minus, .display__btn-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.display__btn-minus {
  left: 10px;
}
.display__btn-plus {
  right: 10px;
}
.display__btn-minus::before, .display__btn-plus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "FontAwesome";
  font-size: 8px;
}
.display__btn-minus::before {
  content: "\f068";
}
.display__btn-plus::before {
  content: "\f067";
}

.enter {
  display: flex;
  align-items: center;
  height: min-content;
}
.enter__btn-in {
  display: flex;
  align-items: center;
}
.enter__img-wrap {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.enter__separator {
  margin: 0 3px;
}
.enter__btn-checkin-text, .enter__btn-in-text, .enter__separator {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: capitalize;
  line-height: 32px;
  color: #FFFFFF;
}

.form__select {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: transparent;
  background-image: none;
}
.form__select-wrap {
  width: 100%;
  background: #FCFCFC;
  overflow: hidden;
}
.form__input {
  background: #FCFCFC;
  transition-property: box-shadow border-color;
  transition: 0.2s;
}
.form__input:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
  border-color: #00AC4E;
}
.form__input:focus {
  border-color: #00AC4E;
}
.form__wrap {
  display: flex;
  flex-flow: column;
}

.list {
  list-style-type: none;
}
.list__node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}
.list__node:not(:first-child) {
  border-top: none;
}
.list__btn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
.list__btn::before {
  content: "\f067";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  color: #C6C6C6;
}
.list__icon {
  flex-shrink: 0;
  border-radius: 5px;
  background: #00AC4E;
}
.list__price {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-right: 8.67px;
}
@media screen and (max-width: 360px) {
  .logo__img {
    display: none;
  }
}

.mobmenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 67%;
  z-index: 10;
  transition: left 0.2s;
}
.mobmenu_active {
  left: 0;
}
.mobmenu__overlay {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: left 0.2s;
  z-index: 9;
}
.mobmenu__overlay_active {
  display: block;
}
.mobmenu__header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: #FFFFFF;
}
.mobmenu__burger {
  width: 20px;
  height: 20px;
  margin-right: 53px;
  background: #00AC4E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mobmenu__dropdown {
  display: none;
  padding: 10px 0 15px 40px;
}
.mobmenu__dropdown-node:not(:last-child) {
  margin-bottom: 15px;
}
.mobmenu__dropdown-text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 12px;
  color: #F2F2F2;
}
.mobmenu__dropdown-img > i {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
}
.mobmenu__nav {
  height: 100vh;
  padding: 30px 21px 0 30px;
  background: #343E48;
  overflow-y: auto;
}
.mobmenu__list {
  list-style-type: none;
}
.mobmenu__node {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobmenu__node:not(:first-child) {
  margin-top: 25px;
}
.mobmenu__node:last-child {
  margin-top: 50px;
}
.mobmenu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mobmenu__icon {
  width: 16px;
  height: 14px;
  margin-right: 7px;
}
.mobmenu__text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  color: #FFFFFF;
}
.mobmenu__btn {
  width: 7px;
  height: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}
.mobmenu__btn-icon {
  display: block;
}
.mobmenu__btn_active {
  transform: rotateZ(-90deg);
}

.navigation__list {
  position: relative;
  display: flex;
  list-style-type: none;
}
.navigation__node:not(:last-child) {
  margin-right: 45px;
}
@media screen and (max-width: 950px) {
  .navigation__node:not(:last-child) {
    margin-right: 25px;
  }
}
.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #333333;
}
.navigation__dropdown {
  list-style-type: none;
}
.navigation__dropdown-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navigation__dropdown-img {
  width: 16px;
  height: 16px;
  margin-right: 7.46px;
}
.navigation__dropdown-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order {
  width: 345px;
  padding: 50px 33px 41px 33px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #FFFFFF;
}
.order__title {
  margin-bottom: 39px;
}
.order__title span {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}
.order__prod {
  margin-bottom: 35px;
}
.order__prod-name, .order__prod-price, .order__prod-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__promo {
  margin-bottom: 45px;
}
.order__promo-name {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__promo-price, .order__promo-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #00AC4E;
}
.order__total-name {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__total-price, .order__total-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}
.order__prod, .order__promo {
  display: flex;
  justify-content: space-between;
}
.order__btn {
  margin-top: 30px;
  padding: 16px 21px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
}

.promo__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.promo__input {
  width: 187px;
  height: 47px;
  padding-left: 17px;
  background: #FCFCFC;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
.promo__input:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
}
.promo__input:focus {
  border-color: #00AC4E;
}
.promo__btn {
  margin-left: 18px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
  padding: 13px 25px;
}

.pwa {
  padding: 5px 27px;
  background: #00AC4E;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 52px;
}
.pwa__row {
  display: flex;
  justify-content: space-between;
}
.pwa__column {
  width: 37px;
  height: 37px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.pwa__column_basket {
  position: relative;
}
.pwa__column-icon {
  font-size: 22px;
  color: #FFFFFF;
  transition: color 0.2s;
}
.pwa__column:hover {
  background: #FFFFFF;
}
.pwa__column:hover .pwa__column-icon {
  color: #00AC4E;
}
.pwa__column.pwa__column_active {
  background-color: #FFFFFF;
}
.pwa__column.pwa__column_active .pwa__column-icon {
  color: #00AC4E;
}

.rating {
  display: flex;
  font-size: 1.2em;
  justify-content: space-around;
  margin-left: 9px;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  margin-right: 5px;
  color: #ccc;
  cursor: pointer;
}
.rating .rating input :checked ~ label {
  color: #00AC4E;
}
.rating label:hover, .rating label:hover ~ label {
  color: #00d64e;
}
.rating__star_active-0 :nth-child(-n+0) {
  color: #00AC4E !important;
}
.rating__star_active-1 :nth-child(-n+1) {
  color: #00AC4E !important;
}
.rating__star_active-2 :nth-child(-n+2) {
  color: #00AC4E !important;
}
.rating__star_active-3 :nth-child(-n+3) {
  color: #00AC4E !important;
}
.rating__star_active-4 :nth-child(-n+4) {
  color: #00AC4E !important;
}
.rating__star_active-5 :nth-child(-n+5) {
  color: #00AC4E !important;
}
.rating__set > i {
  color: #ccc;
  font-style: 18px;
  transition: color 0.2s;
}
.rating__set > i:not(:last-child) {
  margin-right: 5px;
}

.tab__btns {
  display: flex;
}
.tab__content_active {
  display: block;
}
.tab__more {
  display: none;
}
.tab__more_active {
  display: inline;
}

.bonus {
  padding: 27px 29px 38px 29px;
  background: #FFFFFF;
  box-shadow: 0px 0px 27.2043px rgba(0, 0, 0, 0.06);
  border-radius: 18.1362px;
  /* Firefox */
  /* Chrome & Safari */
  /* IE */
}
.bonus__descr {
  display: flex;
  align-items: center;
}
.bonus__descr:not(:last-child) {
  margin: 25px 0;
}
.bonus__icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.bonus__icon-item {
  font-size: 26px;
  color: #00AC4E;
}
.bonus__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
}
.bonus__title span {
  font-weight: 500;
}
.bonus__range-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 50px auto 30px auto;
}
.bonus__range {
  width: 100%;
  -webkit-appearance: none;
}
.bonus__range-text1 {
  position: absolute;
  top: 23px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: #000000;
}
.bonus__range-text2 {
  position: absolute;
  top: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 12px;
  color: #000000;
}
.bonus__range-text1, .bonus__range-text2 {
  width: 100%;
  text-align: center;
}
.bonus__range-text1 span, .bonus__range-text2 span {
  font-weight: 500;
}
.bonus__range-fill {
  position: absolute;
  width: 0%;
  height: 3px;
  background: #00AC4E;
}
.bonus__range-count {
  position: absolute;
  top: -35px;
  left: 0%;
  padding: 3px 7px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
  background: #FCFCFC;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.bonus__range:focus {
  outline: none;
}
.bonus__range::-moz-range-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.bonus__range::-webkit-slider-runnable-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  margin-top: -4px;
  cursor: pointer;
}
.bonus__range::-ms-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-ms-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  margin-top: -7px;
  cursor: pointer;
}

.popup__form {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 14.7664px;
  width: 358px;
  border-radius: 17.4636px;
}
.popup__close {
  top: 15px;
  right: 20px;
  width: 22.19px;
  height: 22.19px;
}
.popup__icon {
  width: 34px;
  height: 34px;
  margin: 0 0 14px 0;
}
.popup__title {
  margin-bottom: 28px;
  text-align: center;
}
.popup__body {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
}
.popup__wrap:not(:last-child) {
  margin-bottom: 25px;
}
.popup__wrap {
  position: relative;
}
.popup__wrap input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.popup__wrap input:focus, .popup__wrap textarea:focus {
  border-color: #00AC4E;
  outline: none;
}
.popup__wrap:focus-within::before {
  color: #00AC4E;
}
.popup__wrap::before {
  content: "";
}
.popup__wrap:hover::before {
  color: #00AC4E;
  transition: color 0.2s;
}
.popup__wrong-message {
  margin: 7px 0;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 15px;
  color: #EB5757;
}
.popup__radio {
  display: flex;
  flex-flow: column;
}
.popup__radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.popup__radio-label:not(:last-child) {
  margin-bottom: 15px;
}
.popup__radio-real {
  display: none;
}
.popup__radio-fake {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 14.97px;
  height: 14.97px;
  margin-right: 15px;
  border: 1.87138px solid #EBEBEB;
  border-radius: 50%;
  background: transparent;
}
.popup__radio-fake::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 0%;
  height: 0%;
  border-radius: 50%;
  transition-property: width, height;
  transition: 0.3s;
  background: #00AC4E;
}
.popup__radio-real:checked + .popup__radio-fake::before {
  width: 80%;
  height: 80%;
}
.popup__radio-txt {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 14px;
  color: #C6C6C6;
}
.popup__radio-real:checked ~ .popup__radio-txt {
  font-weight: 500;
}
.popup__radio-link {
  color: #00AC4E;
}

.password-recovery__form {
  padding: 24px 38px 21px 38px;
  border-radius: 14.7609px;
}
.password-recovery__close {
  position: absolute;
  top: 13px;
  right: 13px;
}
.password-recovery__title {
  margin: 12px 0 24px 0;
}
.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.popup-form {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
}

.popup-close__btn {
  width: 19px;
  height: 19px;
  background: center no-repeat url("../../../../img/icons/plus.svg");
  cursor: pointer;
  border: none;
}

.popup-icon__item {
  width: 29px;
  height: 29px;
  margin: 0 auto;
  background: center/cover no-repeat url("../../../../img/icons/person.svg");
}

.popup-title-1 {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
  text-align: center;
}

.form-input {
  position: relative;
}
.form-input__item {
  width: 100%;
  height: 42.81px;
  padding-left: 40px;
  font-family: "TT Norms Pro";
  background: #FCFCFC;
  border: 0.873181px solid #EBEBEB;
  border-radius: 5.91549px;
}
.form-input__item:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
  transition: box-shadow 0.2s;
}
.form-input__item:focus {
  border-color: #00AC4E;
  outline: none;
}
.form-input__item::placeholder {
  font-family: "TT Norms Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #C6C6C6;
}

@media screen and (max-width: 430px) {
  .signin__form {
    width: 302px;
    padding: 40px 25px 20px 25px;
  }
}
.signin__wrap:last-child::before, .signin__wrap:first-child::before {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
}
.signin__wrap:first-child::before {
  background: center/cover no-repeat url("../../../../img/icons/phone.svg");
}
.signin__wrap:last-child::before {
  background: center/cover no-repeat url("../../../../img/icons/key.svg");
}
.signin__password-recovery-btn {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: initial;
  margin: 15px 0 12px 0;
}
.signin__password-recovery-btn, .signin__checkin-btn {
  text-decoration: underline;
  color: #00AC4E;
  border: none;
  background: transparent;
  cursor: pointer;
}
.signin__btn {
  width: 143.2px;
  height: 45.41px;
  margin: 0 auto 24px auto;
  border-radius: 5.91549px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 18px;
  color: #FFFFFF;
}
.signin__register {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
}
.signin__register-txt {
  margin-right: 5px;
}

.subscribe__icon {
  background: center/contain no-repeat url("../../../../img/icons/document_case_green.svg");
}
.subscribe__form {
  width: 455px;
  padding-bottom: 53px;
}
@media screen and (max-width: 530px) {
  .subscribe__form {
    width: 302px;
    padding: 40px 25px 35px 25px;
  }
}
.subscribe__title {
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  text-transform: none;
  line-height: 28px;
  color: #000000;
}
.subscribe__wrap::before {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 17px;
  height: 14px;
  transform: translateY(-50%);
  background: center/contain no-repeat url("../../../../img/icons/document_case_grey.svg");
}
.subscribe__btn {
  width: 181.76px;
  height: 57.63px;
  margin-top: 18px;
  border-radius: 7.50825px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 23px;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .checkin__form {
    width: 303px;
    padding: 40px 25px 20px 25px;
  }
}
.checkin__btn {
  width: 175.91px;
  height: 48.66px;
  margin: 38.36px auto 0 auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  text-transform: none;
  line-height: 20px;
  color: #FFFFFF;
}
.checkin__wrap:first-child::before, .checkin__wrap:not(:first-child)::before {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 11px;
  height: 11px;
  transform: translateY(-50%);
}
.checkin__wrap:first-child::before {
  background: center/contain no-repeat url("../../../../img/icons/phone.svg");
}
.checkin__wrap:not(:first-child)::before {
  background: center/contain no-repeat url("../../../../img/icons/key.svg");
}

.reserv__form {
  width: 654px;
  margin: 0 15px 0 15px;
}
@media screen and (max-width: 450px) {
  .reserv__form {
    padding: 50px 20px 35px 20px;
  }
}
.reserv__title {
  font-size: 24px;
  line-height: 18px;
}
.reserv__conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 35px;
  margin-top: 25px;
}
@media screen and (max-width: 648px) {
  .reserv__conteiner {
    grid-column-gap: 20px;
  }
}
.reserv__wrap input {
  padding-left: 15px;
}
.reserv__wrap:not(:last-child) {
  margin-bottom: 0px;
}
.reserv__wrap:nth-child(1) {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(1) {
    grid-area: 1/1/2/3;
  }
}
.reserv__wrap:nth-child(2)::before {
  content: "Время:";
  font-family: "TT Norms Pro";
  color: gray;
}
.reserv__wrap:nth-child(2) input {
  padding-left: 80px;
}
.reserv__wrap:nth-child(2) {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(2) {
    grid-area: 4/1/5/3;
  }
}
.reserv__wrap:nth-child(3) {
  grid-area: 1/2/2/3;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(3) {
    grid-area: 2/1/3/3;
  }
}
.reserv__wrap:nth-child(4) {
  grid-area: 2/2/2/3;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(4) {
    grid-area: 3/1/4/3;
  }
}
.reserv__wrap:nth-child(4)::before {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  padding: 0;
  transform: translateY(-50%);
  background: center/contain no-repeat url("../../../../img/icons/calendar.svg");
  z-index: 1;
  transition: color 0.2s;
}
.reserv__wrap:nth-child(4):hover::before {
  color: #00AC4E;
}
.reserv__wrap input[type=date]::-webkit-calendar-picker-indicator, .reserv__wrap input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
.reserv__wrap input[type=date] {
  position: relative;
}
.reserv__wrap:nth-child(4):focus-within::before {
  color: #00AC4E;
}
.reserv__btn {
  width: 164px;
  height: 52px;
  margin: 25px auto 0 auto;
  border-radius: 6.77465px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
}

.review__form {
  width: 418px;
  padding: 40px 30px 40px 30px;
}
@media screen and (max-width: 466px) {
  .review__form {
    width: 361px;
  }
}
@media screen and (max-width: 410px) {
  .review__form {
    width: 310px;
  }
}
.review__wrap:nth-child(3) {
  position: relative;
}
.review__wrap:nth-child(3)::before {
  content: "0 / 500";
  position: absolute;
  top: -14px;
  right: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 9px;
  color: #C6C6C6;
}
@media screen and (max-width: 466px) {
  .review__wrap:nth-child(3)::before {
    top: 13px;
  }
}
.review__field-name {
  margin-right: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
}
@media screen and (max-width: 466px) {
  .review__wrap .review__label .review__field-name {
    margin: 0 0 5px 0;
  }
}
.review__rating {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.review__label {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 466px) {
  .review__label {
    flex-flow: column;
  }
}
.review__label input, .review__label textarea {
  width: 69%;
}
@media screen and (max-width: 466px) {
  .review__label input, .review__label textarea {
    width: 100%;
  }
}
.review__label textarea {
  resize: none;
}
.review__label input {
  padding-left: 10px;
}
.review__btn {
  width: 175.44px;
  padding: 10px 17px;
  margin: 0 auto 0 31%;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
}
@media screen and (max-width: 466px) {
  .review__btn {
    margin: 0 auto;
  }
}

.header {
  padding: 30px 0 30px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 900px) {
  .header {
    padding: 15px 0 15px 0;
  }
}
.header__burger {
  position: relative;
  height: 12.52px;
  width: 22.3px;
  cursor: pointer;
  transition: width 0.2s;
}
@media screen and (max-width: 360px) {
  .header__burger {
    margin-right: 20px;
  }
}
.header__burger-line {
  position: absolute;
  height: 2.35px;
  border-radius: 4.5px;
  background: #333333;
}
.header__burger-line:first-child {
  top: 0;
  width: 20.34px;
}
.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 22.3px;
}
.header__burger-line:last-child {
  bottom: 0;
  width: 10.95px;
}
.header__burger_active .header__burger-line {
  width: 22.34px;
  background: #00AC4E;
}
.header__dropdown {
  display: none;
  position: absolute;
  top: 22px;
  padding: 15px 20px 15px 32.6px;
  border-radius: 12px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  z-index: 2;
}
.header__dropdown-node {
  margin-bottom: 17.39px;
}
.header__dropdown-text {
  width: max-content;
  font-weight: 400;
  font-style: normal;
  font-size: 10.66px;
  text-transform: none;
  line-height: 13px;
  color: #333333;
}
.header__dropdown_active {
  display: block;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  padding-left: 10px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__tel {
  margin-right: 65px;
}
.header__tel-link {
  display: flex;
  text-decoration: none;
}
.header__tel-icon {
  margin-right: 5px;
}
.header__user {
  display: flex;
}
.header__user-btn {
  width: 31px;
  height: 31px;
  margin-right: 30.75px;
  border: none;
  background: none;
}
@media screen and (max-width: 397px) {
  .header__user-btn {
    margin-right: 14px;
  }
}
.header__user-btn .fa-user {
  font-size: 22px;
  color: #00AC4E;
}
.header__basket-btn {
  position: relative;
  width: 31px;
  height: 31px;
}
.header__basket-btn-icon {
  font-size: 22px;
  color: #00AC4E;
}
.header__tel {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 455px) {
  .header__tel {
    margin-right: 31px;
  }
}
@media screen and (max-width: 397px) {
  .header__tel {
    margin-right: 14px;
  }
}
.header__tel-icon-item {
  color: #00AC4E;
  font-size: 20px;
}
.header__tel-number {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #000000;
}
@media screen and (max-width: 590px) {
  .header__tel-number {
    display: none;
  }
}
.header__basket-amount {
  position: absolute;
  top: 1px;
  right: -3px;
  width: 13px;
  height: 13px;
}

.aboutprod {
  padding: 60px 0 0 0;
  background: rgba(0, 0, 0, 0);
}
.aboutprod__unit1 {
  margin-bottom: 60px;
}
.aboutprod__unit1, .aboutprod__unit2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.aboutprod__img {
  width: 63%;
  height: 426px;
}
@media screen and (max-width: 930px) {
  .aboutprod__img {
    width: 100%;
    margin-bottom: 40px;
  }
}
.aboutprod__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 930px) {
  .aboutprod__buy {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .aboutprod__buy-btn {
    width: 150px;
  }
}
.aboutprod__tab {
  width: 63%;
}
@media screen and (max-width: 930px) {
  .aboutprod__tab {
    width: 100%;
    margin-bottom: 40px;
  }
}
.aboutprod__tab-btn {
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  text-transform: none;
  line-height: 19px;
  color: #828282;
}
@media screen and (max-width: 464px) {
  .aboutprod__tab-btn {
    padding: 3px;
    font-size: calc(20px + 28 * (100vw - 320px) / 677);
  }
}
.aboutprod__tab-btn:first-child {
  padding-left: 0;
}
.aboutprod__tab-btn.tab__btn_active {
  color: #00AC4E;
}
.aboutprod__tab-btn:not(.tab__btn_active):hover {
  color: #00d64e;
}
.aboutprod__btns {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.aboutprod__descr-title {
  margin-bottom: 22px;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
}
.aboutprod__descr-text {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 19px;
  color: #828282;
}
.aboutprod__descr-text p:not(:last-child) {
  margin-bottom: 25px;
}
.aboutprod__param ul li {
  list-style: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 22px;
  color: #828282;
}
.aboutprod__param ul li:not(:last-child) {
  margin-bottom: 20px;
}
.aboutprod__reviews-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
}
.aboutprod__slide {
  padding: 13px 16px;
  border-radius: 11.1818px;
  background: #eeeeed;
}
.aboutprod__ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aboutprod__ava-wrap {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: forestgreen;
}
.aboutprod__ava-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.aboutprod__user-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutprod__user-name {
  margin-right: 10px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  color: #000000;
}
.aboutprod__user-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: forestgreen;
}
.aboutprod__rating {
  margin: 5px 0 0 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
}
.aboutprod__star-icon {
  font-size: 11px;
  color: #ccc;
}
.aboutprod__star-icon:not(:last-child) {
  margin-right: 3px;
}
.aboutprod__soc {
  margin-top: 3px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: #2D9CDB;
}
.aboutprod__review {
  margin-top: 6px;
}
.aboutprod__review p {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: #000000;
}
.aboutprod__btn-more {
  border: none;
  background: transparent;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  text-transform: none;
  line-height: 13px;
  color: #00AC4E;
  text-decoration: underline;
  cursor: pointer;
}
.aboutprod__slaider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.aboutprod__btn-next {
  display: inline-block;
  margin-right: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: #00AC4E;
  cursor: pointer;
}
.aboutprod__btn-prev::before, .aboutprod__btn-next::after {
  font-family: "FontAwesome";
  color: #00AC4E;
  cursor: pointer;
}
.aboutprod__btn-prev::before {
  content: "\f060";
  margin-right: 40px;
}
.aboutprod__btn-next::after {
  content: "\f061";
  margin-left: 5px;
}
.aboutprod__bonus {
  width: 311.75px;
}
@media screen and (max-width: 930px) {
  .aboutprod__bonus {
    width: 100%;
  }
}
.aboutprod__review-btn {
  padding: 12px 17px;
  margin-top: 30px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  color: #FFFFFF;
}
.aboutprod__basket-btn {
  height: 39.76px;
  width: 42px;
}

.footer {
  background-color: #00AC4E;
  padding: 34px 0 24px 0;
}
.footer__conteiner {
  display: grid;
  grid-template-columns: 39.3% 31.1% 29.4%;
}
@media screen and (max-width: 932px) {
  .footer__conteiner {
    grid-template-columns: 46% 27% 27%;
  }
}
@media screen and (max-width: 855px) {
  .footer__conteiner {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 440px) {
  .footer__conteiner {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.footer__area-1 {
  grid-area: 1/1/2/2;
  display: grid;
  grid-column-gap: 30px;
}
@media screen and (max-width: 855px) {
  .footer__area-1 {
    grid-gap: 10px 0;
  }
}
.footer__country {
  grid-area: 1/1/2/2;
}
.footer__country-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #FFFFFF;
}
.footer__country-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 32px;
  color: #FFFFFF;
}
.footer__order {
  grid-area: 1/2/2/3;
  justify-self: end;
}
@media screen and (max-width: 855px) {
  .footer__order {
    grid-area: 2/1/3/2;
    justify-self: start;
  }
}
.footer__order-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #FFFFFF;
}
.footer__order-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 30px;
  color: #FFFFFF;
}
.footer__social {
  grid-area: 1/2/2/3;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
@media screen and (max-width: 855px) {
  .footer__social {
    grid-area: 2/1/3/3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 634px) {
  .footer__social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 512px) {
  .footer__social {
    grid-area: 3/1/4/3;
  }
}
@media screen and (max-width: 440px) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: 3/1/4/2;
  }
}
.footer__social-1 {
  margin-bottom: 25.61px;
}
@media screen and (max-width: 855px) {
  .footer__social-1 {
    margin: 0;
  }
}
.footer__social-1, .footer__social-2 {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 32px;
  color: #FFFFFF;
  letter-spacing: 3.08517px;
  font-variant: small-caps;
  text-decoration: none;
}
.footer__user {
  grid-area: 1/3/2/4;
  justify-self: end;
}
@media screen and (max-width: 855px) {
  .footer__user {
    grid-area: 3/1/4/2;
    justify-self: start;
  }
}
@media screen and (max-width: 512px) {
  .footer__user {
    grid-area: 4/1/5/2;
  }
}
@media screen and (max-width: 440px) {
  .footer__user {
    justify-self: center;
  }
}
.footer__work {
  grid-area: 2/1/3/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 23px;
  color: #FFFFFF;
}
@media screen and (max-width: 855px) {
  .footer__work {
    grid-area: 1/2/2/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__work {
    grid-area: 2/1/3/4;
  }
}
@media screen and (max-width: 440px) {
  .footer__work {
    grid-area: 5/1/6/2;
  }
}
.footer__email {
  grid-area: 3/1/4/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 59px;
  color: #FFFFFF;
}
@media screen and (max-width: 855px) {
  .footer__email {
    grid-area: 1/2/2/3;
    align-self: center;
  }
}
@media screen and (max-width: 512px) {
  .footer__email {
    -ms-flex-item-align: start;
    align-self: start;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__email {
    grid-area: 2/1/3/2;
    justify-self: center;
  }
}
.footer__support {
  grid-area: 4/1/5/2;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 19px;
  color: #FFFFFF;
}
@media screen and (max-width: 855px) {
  .footer__support {
    grid-area: 1/2/2/3;
    margin-top: auto;
  }
}
@media screen and (max-width: 512px) {
  .footer__support {
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__support {
    grid-area: 6/1/7/2;
    justify-self: center;
  }
}
.footer__area-2 {
  grid-area: 5/1/6/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 855px) {
  .footer__area-2 {
    grid-area: 4/1/5/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__area-2 {
    grid-area: 4/2/5/3;
    justify-self: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 0;
  }
}
@media screen and (max-width: 440px) {
  .footer__area-2 {
    grid-area: 7/1/8/2;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__copyright, .footer__terms, .footer__policy {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 54px;
  color: #FFFFFF;
}
.footer__terms, .footer__policy {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
