@mixin font($weight, $size, $line_height, $color: initial, $text-transform: none, $style: normal) {
    font: {
        weight: $weight;
        style: $style;
        size: $size;
      }
    text-transform: $text-transform;
    line-height: $line_height;
    color: $color;
  }
