@use '../../utils';

.order {
    width: 345px;
    padding: 50px 33px 41px 33px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background: utils.$var-color-white;
    &__title {
        margin-bottom: 39px;
        & span 
        {
            @include utils.mix-font(500, 20px, 25px, utils.$var-color-black);
        }
    }
    &__prod {
        margin-bottom: 35px;
        &-name,
        &-price,
        &-currency {
            @include utils.mix-font(500, 16px, 24px, utils.$var-color-black);
        }
    }
    &__promo {
        margin-bottom: 45px;
        &-name {
            @include utils.mix-font(500, 16px, 24px, utils.$var-color-black);
        }
        &-price,
        &-currency {
            @include utils.mix-font(500, 16px, 24px, utils.$var-color-green-haze);
        }
    }
    &__total {
        &-name {
            display: block;
            margin-bottom: 5px;
            @include utils.mix-font(500, 16px, 24px, utils.$var-color-black);
        }
        &-price,
        &-currency {
            @include utils.mix-font(500, 20px, 25px, utils.$var-color-black);
        }
    }
    &__prod,
    &__promo {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        margin-top: 30px;
        padding: 16px 21px;
        @include utils.mix-font(500, 16px, 21px, utils.$var-color-white);
    }
}