@use '../../../../common/utils';

.job {
    padding: 42px 0;
    @media screen and(max-width: utils.$var-general-brkpoint-3) {
        padding: 25px 0;
    }
    &__title {
        margin-bottom: 45px;
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 25px;
        }
    }
    &__vacancy:not(:last-child) {
        margin-bottom: 30px;
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            margin-bottom: 25px;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        margin-top: 45px;
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            margin-top: 25px;
            justify-content: space-between;
        }
    }
    &__catalog-btn {
        padding: 16px 38px;
        border-radius: 6.90493px;
        margin-right: 60px;
        text-decoration: none;
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            font-size: 12px;
            line-height: 15px;
            padding: 12px 33px;
        }
    }
    &__link {
    }
    &__link span {
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            font-size: 12px;
            line-height: 15px;
        }
    }
    &__link :first-child {
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            margin-right: 5px;
        }
    }
}
.vacancy {
    &__description {
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            font-size: 12px;
            line-height: 14px;
            
        }
    }
    &__description:not(:last-child) {
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            margin-bottom: 12px;
        }
    }
    &__title {
        @media screen and(max-width: utils.$var-general-brkpoint-3) {
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
.btn {
    &_theme {
    }
}
.btn-text {
}
.link {
    &__text {
    }
    &__next {
    }
}
