body {
    font-family: 'TT Norms Pro';
}
.body_lock {
    overflow: hidden;
}
.wrapper {
    // max-width: 994px;
    max-width: 997px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    background: $btn-bgcolor;
    border: none;
    border-radius: 4.52px;
    cursor: pointer;
}
.card {
    width: 205.5px;
    &__img {
        height: 125.83px;
        border-radius: 4.52641px;
        margin-bottom: 9px;
        overflow: hidden;
        &-item {
            @extend %inner-img;
        }
    }
    &__content {
        margin-bottom: 13.58px;
    }
    &__title {
        @include font(500, 14.4845px, 22px, $title-1-color, $text-transform: capitalize);
        margin: 0;
        margin-bottom: 5.39px;
    }
    &__description {
        @include font(400, 12.674px, 19px, $card-content-color);
        margin-bottom: 12.69px;
    }
    &__star {
        font-size: 14px;
        color: $card-star-color;
    }
    &__star:not(:last-child) {
        margin: 0 4px 9.65px 0;
    }
    &__star_active {
        color: $card-star-active-color;
    }
    &__price {
        &-1 {
            margin-right: 18.11px;
            @include font(500, 18.1056px, 23px, $card-price-1-color);
        }
        &-2 {
            @include font(400, 12.674px, 23px, $card-price-2-color);
        }
    }
    &__button {
        width: 140.32px;
        height: 38.02px;
        @include font(500, 18.1056px, 14px, $btn-text-color);
    }
}
.navigation {
    &__list {
        position: relative;
        display: flex;
        list-style-type: none;
    }
    &__node:first-child {
    }
    &__node:not(:last-child) {
        margin-right: 45px;
        @media screen and (max-width: $navigation-breakpoint-1) {
            margin-right: 25px;
        }
    }
    &__link {
        text-decoration: none;
        @include font(500, 18px, 21px, #333333) 
    } 
    &__dropdown {
        // display: none;
        // position: absolute;
        // left: -32.6px;
        // padding: 15px 20px 15px 32.6px;
        // border-radius: 12px;
        // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
        // background: #FFFFFF;
        // background: goldenrod;
        // z-index: 2;
        list-style-type: none;
        // &-node:not(:last-child) {
        //     margin-bottom: 17.39px;
        // }
        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        &-img {
            width: 16px;
            height: 16px;
            margin-right: 7.46px;
        }
        &-icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        // &-text {
        //     width: max-content;
        //     @include font(400, 10.66px, 13px, #333333);
        // }
    }
}
#menu-dropdown {
    display: none;
}
.menu__dropdown_active {
    display: block !important;
}
// rating
.rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2em;
    justify-content:space-around;
    margin-left: 9px;
    text-align:center;
    & input {
        display:none;
    }
    & label {
        @extend %center-xy-flex;
        margin-right: 5px;
        color:#ccc;
        cursor:pointer;
    }
    & :checked ~ label {
        color: $btn-bgcolor;
    }
    & label:hover,
    & label:hover ~ label {
        color: $rating-star-hover-color;
    }
}
// // rating

.display {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.903636px solid $display-border-color;
    border-radius: 9.03636px;
    background: $display-bg;
    &__item {
        @extend %center-xy-flex;
    }
    &__btn-minus,
    &__btn-plus {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__btn-minus {
        left: 10px;
    }
    &__btn-plus {
        right: 10px;
    }
    &__btn-minus::before,
    &__btn-plus::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "FontAwesome";
        font-size: 8px;
    }
    &__btn-minus::before {
        content: "\f068";
    }
    &__btn-plus::before {
        content: "\f067";
    } 
}
.order {
    width: 345px;
    padding: 50px 33px 41px 33px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background: $popup-bg;
    &__title {
        margin-bottom: 39px;
        & span 
        {
            @include font(500, 20px, 25px, $title-1-color);
        }
    }
    &__prod {
        margin-bottom: 35px;
        &-name,
        &-price,
        &-currency {
            @include font(500, 16px, 24px, $title-1-color);
        }
    }
    &__promo {
        margin-bottom: 45px;
        &-name {
            @include font(500, 16px, 24px, $title-1-color);
        }
        &-price,
        &-currency {
            @include font(500, 16px, 24px, $btn-bgcolor);
        }
    }
    &__total {
        &-name {
            display: block;
            margin-bottom: 5px;
            @include font(500, 16px, 24px, $title-1-color);
        }
        &-price,
        &-currency {
            @include font(500, 20px, 25px, $title-1-color);
        }
    }
    &__prod,
    &__promo {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        margin-top: 30px;
        padding: 16px 21px;
        @include font(500, 16px, 21px, $btn-text-color);
    }
}
.promo {
    &__title {
        margin-bottom: 20px;
        @include font(500, 20px, 24px, $text-color);
    }
    &__input {
        width: 187px;
        height: 47px;
        padding-left: 17px;
        background: $display-bg;
        border: 1px solid $display-border-color;
        border-radius: 5px;
    }
    &__input:hover {
        box-shadow: 0 0 1.5px 1px #00AC4E;
    }
    &__input:focus {
        border-color: $btn-bgcolor;
    }
    &__btn {
        margin-left: 18px;
        @include font(500, 14px, 21px, $btn-text-color);
        padding: 13px 25px;
    }
}
.list {
    list-style-type: none;
    &__node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $basket-list-border-color;
        border-bottom: 1px solid $basket-list-border-color;
    }
    &__node:not(:first-child) {
        border-top: none;
    }
    &__btn {
        position: relative;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__btn::before {
        content: '\f067';
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        color: $list-btn-color;
    }
    &__icon {
        flex-shrink: 0;
        border-radius: 5px;
        background: $btn-bgcolor;
    }
    &__icon img {
        @extend %inner-img;
    }
    &__price {
        display: flex;
    }
}
.tab {
    &__btns {
        display: flex;
    }
    // &__content {
    //     display: none;
    // }
    &__content_active {
        display: block;
    }
    &__more {
        display: none;
    }
    &__more_active {
        display: inline;
    }
}
.form {
    &__select {
        width: 100%;
        height: 100%;
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0;
        background: transparent;
        background-image: none;
        &-wrap {
            width: 100%;
            background: $form-bg-color;
            // border-color: $form-border-color;
            // border: 1.1194px solid #EBEBEB;
            // box-sizing: border-box;
            // border-radius: 7.11356px;
            overflow: hidden;
        }
    }
    &__input {
        background: $form-bg-color;
        transition-property: box-shadow border-color;
        transition: 0.2s;
    }
    &__input:hover {
        box-shadow: 0 0 1.5px 1px $btn-bgcolor;
        border-color: $btn-bgcolor;
    }
    &__input:focus {
        border-color: $btn-bgcolor;
    }
    &__wrap {
        display: flex;
        flex-flow: column;
    }
}


