body {
    font-family: 'TT Norms Pro';
}
.wrapper {
    // max-width: 994px;
    max-width: 997px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    background: $btn-bgcolor;
    border: none;
    border-radius: 4.52px;
}