body {
    font-family: 'TT Norms Pro';
}
.body_lock {
    overflow: hidden;
}
.wrapper {
    // max-width: 994px;
    max-width: 997px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    background: $btn-bgcolor;
    border: none;
    border-radius: 4.52px;
    cursor: pointer;
}
.card {
    width: 205.5px;
    &__img {
        height: 125.83px;
        border-radius: 4.52641px;
        margin-bottom: 9px;
        overflow: hidden;
        &-item {
            @extend %inner-img;
        }
    }
    &__content {
        margin-bottom: 13.58px;
    }
    &__title {
        @include font(500, 14.4845px, 22px, $card-title-color, $text-transform: capitalize);
        margin: 0;
        margin-bottom: 5.39px;
    }
    &__description {
        @include font(400, 12.674px, 19px, $card-content-color);
        margin-bottom: 12.69px;
    }
    &__star {
        font-size: 14px;
        color: $card-star-color;
    }
    &__star:not(:last-child) {
        margin: 0 4px 9.65px 0;
    }
    &__star_active {
        color: $card-star-active-color;
    }
    &__price {
        &-1 {
            margin-right: 18.11px;
            @include font(500, 18.1056px, 23px, $card-price-1-color);
        }
        &-2 {
            @include font(400, 12.674px, 23px, $card-price-2-color);
        }
    }
    &__button {
        width: 140.32px;
        height: 38.02px;
        @include font(500, 18.1056px, 14px, $btn-text-color);
    }
}
.navigation {
    &__list {
        position: relative;
        display: flex;
        list-style-type: none;
    }
    &__node:first-child {
    }
    &__node:not(:last-child) {
        margin-right: 45px;
        @media screen and (max-width: $navigation-breakpoint-1) {
            margin-right: 25px;
        }
    }
    &__link {
        text-decoration: none;
        @include font(500, 18px, 21px, #333333) 
    } 
    &__dropdown {
        // display: none;
        // position: absolute;
        // left: -32.6px;
        // padding: 15px 20px 15px 32.6px;
        // border-radius: 12px;
        // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
        // background: #FFFFFF;
        // background: goldenrod;
        // z-index: 2;
        list-style-type: none;
        // &-node:not(:last-child) {
        //     margin-bottom: 17.39px;
        // }
        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        &-img {
            width: 16px;
            height: 16px;
            margin-right: 7.46px;
        }
        &-icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        // &-text {
        //     width: max-content;
        //     @include font(400, 10.66px, 13px, #333333);
        // }
    }
}
#menu-dropdown {
    display: none;
}
.menu__dropdown_active {
    display: block !important;
}
// rating
.rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2em;
    justify-content:space-around;
    margin-left: 9px;
    text-align:center;
    & input {
        display:none;
    }
    & label {
        margin-right: 5px;
        color:#ccc;
        cursor:pointer;
    }
    & :checked ~ label {
        color: $btn-bgcolor;
    }
    & label:hover,
    & label:hover ~ label {
        color: $rating-star-hover-color;
    }
}
// // rating