/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
.simple-pagination {
    display: flex;
	justify-content: center; 
    & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    & li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    & a {
        text-decoration: none;
    } 
}
.ellipse {
    & .clickable {
        cursor: pointer;
    }
    & input {
        width: 3em;
        border-color: $btn-bgcolor;
        @include font(500, 20px, 25px, $pagination-text-color);
    }
}
.mytheme {
    & span {
        cursor: pointer;
    }
    & a,
    & span {
        width: 41px;
        height: 41px;
        @include font(500, 20px, 25px, $pagination-text-color);
        border-radius: 5px;
    }
    & a,
    & li:not(.disabled):not(.active) span {
        transition: .2s transform;    
    }
    & .ellipse {
        margin: auto;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;
        color: $pagination-text-color;    
    }
    & a:hover,
    & li:not(.disabled):not(.active) span:hover {
        transform: scale(1.1);    
    }
    & .current {
        color: $btn-text-color;
        cursor: default;
    }
    & .active,
    & .page-link,
    & .current {
        width: 41px;
        height: 41px;
    }
    & .page-link,
    & .current {
	    display: flex;
	    align-items: center;
	    justify-content: center;
    }
    & .current {
        background: $btn-bgcolor;
        border-radius: 5px;
    }
    & .next,
    & .prev {
        width: 8px;
        height: 19px;
    }
    & .next {
        margin-left: 15px;
        background: url(../img/pagination/next.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    & .prev {
        margin-right: 15px;
        background: url(../img/pagination/prev.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    & .disabled {
        opacity: 0.5;
    } 
}