.support {
    &__title {
        margin-bottom: 45px;
        @include font(500, 28px, 33px, $text-color);
        font-family: 'TT Hoves';
    }
    &__text {
        display: block;
        resize: none;
        width: 672px;
        height: 174px;
        background: $block-bg;
        border: none;
        border-radius: 5px;
        @media screen and(max-width: $support-breakpoint-1) {
            width: 100%;            
        }
    }
    &__text,
    &__text::placeholder,
    &__text::-moz-placeholder,
    &__text::-webkit-input-placeholder {
        font-family: 'TT Hoves';
        @include font(400, 20px, 21px, $gray-4);
    }
    &__btn {
        margin-top: 45px;
        padding: 18px 46px;
        border-radius: 7.8169px;
        @include font(500, 19px, 24px, $btn-text-color);
    }
}