$btn-bgcolor: #00AC4E;
$btn-text-color:#FFFFFF;
$subtitle-color:#828282;
$title-color:#333333;
$slider2-text-color: #4F4F4F;
$products-title-color: #000000;
$card-title-color: #000000;
$card-content-color: #000000;
$card-star-color: #EBEBEB;
$card-star-active-color: #00AC4E;
$card-price-1-color: #000000;
$card-price-2-color: #828282;
$pagination-text-color: #000000;
$footer-bg: #00AC4E;
$footer-text-color: #fff;
// breakpoints
$delivery-breakpoint-1: 600px;
$footer-breakpoint-1: 932px;
$footer-breakpoint-2: 855px;
$footer-breakpoint-3: 634px;
$footer-breakpoint-4: 512px;
$footer-breakpoint-5: 440px;
// // breakpoints