$page-bg: rgba(0, 0, 0, -0.2);
$widget-bg: #FFFFFF;
$title-1-color:  #000000;
$btn-bgcolor: #00AC4E;
$rating-star-hover-color: #00d64e;
$btn-text-color:#FFFFFF;

$subtitle-color:#828282;
$title-color:#333333;

$header-burger-color: #333333;

$mobmenu-bgcolor: #343E48;
$mobmenu-text-color: #FFFFFF;
$mobmenu-dropdown-text-color: #F2F2F2;

$slider2-text-color: #4F4F4F;

// $products-title-color: #000000;

// $card-title-color: #000000;
$card-content-color: #000000;
$card-star-color: #EBEBEB;
$card-star-active-color: #00AC4E;
$card-price-1-color: #000000;
$card-price-2-color: #828282;

$pagination-text-color: #000000;

$footer-bg: #00AC4E;
$footer-text-color: #FFFFFF;

// breakpoints
$header-breakpoint-1: 590px;
$header-breakpoint-2: 455px;
$header-breakpoint-3: 397px;
$header-breakpoint-4: 360px;  

$navigation-breakpoint-1: 950px;
$delivery-breakpoint-1: 600px;

$footer-breakpoint-1: 932px;
$footer-breakpoint-2: 855px;
$footer-breakpoint-3: 634px;
$footer-breakpoint-4: 512px;
$footer-breakpoint-5: 440px;

$buy-text-color: #C6C6C6;
$buy-text-color-2: #000000;
$buy-display-bg: #FCFCFC;

$tab-btn-text-color: #828282;
$tab-btn-hover-color: #00d64e;
$tab-title-color: #000000;
$tab-text-color: #828282;
// $tab-slide-bg: #F2F2F2;
$tab-slide-bg: #eeeeed;
$tab-soc-text-color: #2D9CDB;



    // pop-up windows
$popup-text-color: #C6C6C6;
$popup-bg: #FFFFFF;
$popup-border-color:#EBEBEB;
$popup-input-bg: #FCFCFC;
$popup-wrong-message: #EB5757;
$datepicker-text-color: #333333;

$signin-breakpoint-1: 430px;
$subscribe-breakpoint-1: 530px;
$checkin-breakpoint-1: 400px;
$reserv-breakpoint-1: 648px;
$reserv-breakpoint-2: 600px;
$reserv-breakpoint-3: 450px;
$review-breakpoint-1: 466px;
$review-breakpoint-2: 410px;

    // // pop-up windows
// // breakpoints