$btn-bgcolor: #00AC4E;
$btn-text-color:#FFFFFF;
$subtitle-color:#828282;
$title-color:#333333;
$slider2-text-color: #4F4F4F;
$products-title-color: #000000;
$card-title-color: #000000;
$card-content-color: #000000;
$card-star-color: #EBEBEB;
$card-star-active-color: #00AC4E;
$card-price-1-color: #000000;
$card-price-2-color: #828282;