.aboutprod {
    padding: 60px 0 0 0;
    background: $page-bg;
    &__unit1 {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 63%;
        height: 426px;
        &-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}