.buy {
    width: 311.75px;
    // height: 426.52px;
    padding: 31px 29px;
    background: $widget-bg;
    box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    &__title {
        @include font(500, 18px, 23px, $title-1-color);
    }
    &__rating {
        margin: 9px 0 0 0;
        justify-content: flex-end;
    }
    &__star {
        width: 15px;
        height: 15px;
        &-icon {
            font-size: 11px;
        }
    }
    &__star:not(:first-child) {
        margin-right: 3px;
    }
    &__reviews {
        margin-top: 13px;
        &-text,
        &-amount {
            @include font(400, 12px, 19px, $buy-text-color);
        }
    }
    &__price {
        margin-top: 30px;
        &-text {
            @include font(400, 12px, 19px, $buy-text-color);
        }
        &-cost {
            @include font(500, 18px, 23px, $buy-text-color-2)
        }
    }
    &__joke {
        margin-top: 25px;
        &-text {
            @include font(400, 12px, 19px, $buy-text-color);
        }
        &-amount {
            @include font(500, 18px, 23px, $buy-text-color-2)
        }
    }
    &__amount {
        margin-top: 22px;
        &-text {
            @include font(400, 12px, 19px, $buy-text-color);
        }
    }
    &__display {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 116.57px;
        height: 42.47px;
        border: 0.903636px solid #EBEBEB;
        border-radius: 9.03636px;
        background: $buy-display-bg;
        &-item {
            @extend %center-xy-flex;
        }
        &-amount,
        &-units {
            @include font(400, 12px, 19px, $buy-text-color-2);
        }
    }
    &__display::before {
        position: absolute;
        right: 0;
        bottom: -18px;
        content: 'Ед. изм.: упаковка';
        @include font(400, 9px, 14px, $buy-text-color);
    }
    &__btn-minus,
    &__btn-plus {
        position: relative;
        width: 15px;
        height: 15px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__btn-minus::before,
    &__btn-plus::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "FontAwesome";
        font-size: 8px;
    }
    &__btn-minus::before {
        content: "\f068";
    }
    &__btn-plus::before {
        content: "\f067";
    }
    &__total {
        margin-top: 30px;
        &-text {
            @include font(500, 14px, 22px, $buy-text-color-2);
        }
        &-amount {
            @include font(500, 18px, 23px, $btn-bgcolor);
        }
    }
    &__amount, 
    &__price,
    &__joke,
    &__total,
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btns {
        margin-top: 18px;    
    }
    &__btn {
        width: 194.28px;
        height: 39.76px;
        @include font(500, 18px, 23px, $btn-text-color);
    }
    
}