@import 'variable';
@import 'extend';
@import 'mixins';
@import 'common';
@import 'popup';
@import 'pagination';
@import 'datepicker';
@import 'bonus';
@import 'basket';
@import 'buy';
@import 'card';
@import 'regis';
@import 'cabinet';
@import 'support';

.mobmenu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 67%;
    z-index: 10;
    transition: left .2s;
    &_active {
        left: 0;
    }
    &__overlay {
        position: absolute;
        display: none;
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        transition: left .2s;
        z-index: 9;
        &_active {
            display: block;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        padding-left: 30px;
        background: $widget-bg;
    }
    &__burger {
        width: 20px;
        height: 20px;
        margin-right: 53px;
        background: $btn-bgcolor;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &__dropdown {
        display: none;
        padding: 10px 0 15px 40px;
        &-node:not(:last-child) {
            margin-bottom: 15px;
        }
        &-text {
            font-family: 'TT Hoves';
            @include font(400, 10px, 12px, $mobmenu-dropdown-text-color);
        }
        &-img {
            @extend %center-xy-flex;
            & > i {
            display: block;
            font-size: 14px;
            color: $mobmenu-text-color;
            }
        }
    }
    &__nav {
        height: 100vh;
        padding: 30px 21px 0 30px;
        background: $mobmenu-bgcolor;
        overflow-y: auto;
    }
    &__list {
        list-style-type: none;
    }
    &__node {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:first-child) {
            margin-top: 25px;
        }
        &:last-child {
            margin-top: 50px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__icon {
        width: 16px;
        height: 14px;
        margin-right: 7px;
        &-item {
            @extend %inner-img;
        }
    }
    &__text {
        font-family: 'TT Hoves';
        @include font(400, 14px, 16px, $mobmenu-text-color);
    }
    &__btn {
        width: 7px;
        height: 12px;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: transform .2s;
        &-icon {
            display: block;
            @extend %inner-img;
        }
        &_active {
            transform: rotateZ(-90deg);
        }
    }
}
.header {
    padding: 30px 0 24px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    // max-width == widthHideNav in common.js
    @media screen and (max-width: 900px) {
        padding: 15px 0 15px 0;
    }
    &__burger {
        position: relative;
        height: 12.52px;
        width: 22.3px;
        cursor: pointer;
        transition: width .2s;
        @media screen and (max-width: $header-breakpoint-4) {
            margin-right: 20px;
        }
        &-line {
            position: absolute;
            height: 2.35px;
            border-radius: 4.5px;
            background: $header-burger-color;
        }
        &-line:first-child {
            top: 0;
            width: 20.34px;
        }
        &-line:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 22.3px;
        }
        &-line:last-child {
            bottom: 0;
            width: 10.95px;
        }
        &_active &-line {
            width: 22.34px;
            background: $btn-bgcolor;
        }
    }
    &__dropdown {
        display: none;
        position: absolute;
        top: 22px;
        padding: 15px 20px 15px 32.6px;
        border-radius: 12px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
        background: $widget-bg;
        z-index: 2;
        &-node {
            margin-bottom: 17.39px;
        }
        &-text {
            width: max-content;
            @include font(400, 10.66px, 13px, #333333);
        }
        &_active {
            display: block;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__tel {
        margin-right: 65px;
        &-link {
            display: flex;
            text-decoration: none;
        }
        &-icon {
            margin-right: 5px;
        }
    }
    &__user {
        display: flex;
        &-btn {
            @extend %center-xy-flex;
            width: 31px;
            height: 31px;
            margin-right: 30.75px;
            border: none;
            background: none;
            @media screen and (max-width: $header-breakpoint-3) {
                margin-right: 14px;
            }
            & .fa-user {
                font-size: 22px;
                color: $btn-bgcolor;
            }         
        }
    }
    &__basket-btn {
        @extend %center-xy-flex;
        width: 31px;
        height: 31px;
        background: transparent;
        &-icon {
            font-size: 22px;
            color: $btn-bgcolor;
        }
    }
    &__tel {
        display: flex;
        align-items: center;
        @media screen and (max-width: $header-breakpoint-2) {
            margin-right: 31px;
        }
        @media screen and (max-width: $header-breakpoint-3) {
            margin-right: 14px;
        }
        &-icon {
            &-item {
                color: $btn-bgcolor;
                font-size: 20px;
            }
        }
        &-number {
            @include font(500, 18px, 21px, #000000);
            @media screen and (max-width: $header-breakpoint-1) {
                display: none;
            }
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    &__text{
        margin-right: 8.67px;
    }
    &__img {
        @media screen and (max-width: $header-breakpoint-4) {
            display: none;
        }
    } 
}
.table {
    &__btn {
        height: 17px;
        width: 100%;
        @extend %center-xy-flex;
        margin-top: 4px;
        border: none;
        border-radius: 5px;
        background: $btn-bgcolor;
        cursor: pointer;
        &-text {
            @include font(500, 8.55856px, 10px, $btn-text-color);
            margin-right: 5px;
        }
        &-img {
            width: 10px;
            height: 8px;
            & > img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.slider1 {
    margin-top: 60px;
    &__slide {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 253.71px;
        background-image: linear-gradient(#F1F1FB, #EBEBF5);
    }
    &__text {
        padding: 40.77px 0 57.99px 40.77px;
        margin-right: 30px;
    }
    &__string1 {
        margin-bottom: 9px;
        @include font(400, 31.63px, 37.89px, $title-color)
    }
    &__string2 {
        margin-bottom: 32px;
        @include font(400, 19.88px, 23.82px, $subtitle-color)
    }
    &__btn {
        padding: 10px 30px;
        @include font(500, 25.3px, 30.31px, $btn-text-color);
    }
    &__img {
        width: 411px;
        &-item {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.slider1__conteiner {
    border-radius: 18.07px;
}
.slider2 {
    margin-top: 25px;
    &__link {
        font-family: 'TT Hoves';
        @include font(400, 23.3333px, 27px, $slider2-text-color, uppercase);
        text-decoration: none;
        white-space: nowrap;
    }
    &__slide {
        width: auto !important;
    }
    &__next {
        right: 0;
    }
    &__prev {
        left: 0;
    }
    &__prev img {
        transform: rotateZ(180deg);
    }
    &__next,
    &__prev {
        position: absolute;
        width: 14px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        z-index: 2;
        cursor: pointer;
    }
    &__next img,
    &__prev img {
        object-fit: cover;
    }
}
.products {
    margin-top: 30px;
    &__title {
        @include font(500, 27.1585px, 19px, $title-1-color);
        margin-bottom: 39.75px;
    }
    &__row {
        justify-content: space-between;
        @extend %flex-wrap;
    }
    &__card {
        margin-bottom: 56.13px;
        &-add_active {
            display: flex;
        }
        &-btn_inactive {
            display: none;
        }
    }
    &__link {
        display: block;
        text-decoration: none;
    }    
}
.video {
    margin-top: 60px;
    &__wrapper {
        position: relative;
        height: 648px;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.46) 100%), url("../img/video/bg.png");
        background-size: cover;
    }
    &__iframe {
        width: 100%;
        height: 100%;
    }
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        width: 106px;
        height: 106px;
        transform: translate(-50%, -50%);
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.delivery {
    padding: 60px 0 60px 0;
    &__conteiner {
        padding: 31.71px 0 58.9px 40.77px;
        background-color: #F2F2F2;
        background-image: url('/img/delivery/01.png');
        background-repeat: no-repeat;
        background-position: right top;
        box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
        border-radius: 18.0727px;
        @media screen and (max-width: $delivery-breakpoint-1) {
            padding-left: 0;
            text-align: center;
        }
    }
    &__text {
        width: 53%;
        margin: 0;
        margin-bottom: 34.43px;
        @include font(400, 31.6273px, 38px, $title-color);
        @media screen and (max-width: $delivery-breakpoint-1) {
            width: 100%;
        }
    }
    &__btn {
        width: 171.25px;
        height: 52.55px;
        @include font(500, 25.3018px, 30px, $btn-text-color, capitalize);
    }
}
.footer {
    background-color: $footer-bg;
    padding: 34px 0;
    &__conteiner {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        grid-row-gap: 20px;
        @media screen and (max-width: $footer-breakpoint-1) {
            grid-template-columns: 46% 27% 27%;
        }
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-template-columns: 50% 50%;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    &__area-1 {
        grid-area: 1/1/2/2;
        display: grid;
        grid-column-gap: 30px;
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-gap: 10px 0 
        }
    }
    &__country {
        grid-area: 1/1/2/2;
        &-title {
            @include font(400, 12.3407px, 32px, $footer-text-color);
        }
        &-tel {
            @include font(500, 18.511px, 39px, $footer-text-color);
        }
    }
    &__order {
        grid-area: 1/2/2/3;
        justify-self: end;
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 2/1/3/2;
            justify-self: start;
        }
        &-title {
            @include font(400, 12.3407px, 32px, $footer-text-color);
        }
        &-tel {
            @include font(500, 18.511px, 39px, $footer-text-color);
        }    
    }
    &__social {
        grid-area: 1/2/2/3;
        justify-self: end;
        display: flex;
        flex-flow: column;
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 2/1/3/3;
            flex-flow: row;
            width: 100%;
            justify-content: space-around;
        }
        @media screen and (max-width: $footer-breakpoint-3) {
            justify-content: space-between;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            grid-area: 3/1/4/3;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            flex-flow: column;
            align-items: center;
            grid-area: 3/1/4/2;
        }        
        &-1 {
            margin-bottom: 25.61px;
            @media screen and (max-width: $footer-breakpoint-2) {
                margin: 0;
            }
        }
        &-1,
        &-2 {
            @include font(500, 15.4259px, 32px, $footer-text-color);
            letter-spacing: 3.08517px;
            font-variant: small-caps;
            text-decoration: none;
        }
    }
    &__user {
        grid-area: 1/3/2/4;
        justify-self: end;
        display: flex;
        align-items: center;
        height: min-content;
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 3/1/4/2;
            justify-self: start;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            grid-area: 4/1/5/2;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            justify-self: center;
        }
    }
    &__btn-in {
        display: flex;
        align-items: center;
        & .fa-user {
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 7px;
            color: $footer-text-color; 
        }
        & .fa-user::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__separator {
        margin: 0 3px;
    }
    &__btn-checkin,
    &__btn-in,
    &__separator {
        @include font(500, 15.4259px, 32px, $footer-text-color, capitalize);
    }
    &__work {
        grid-area: 2/1/3/2;
        font-family: 'TT Hoves';
        @include font(400, 15.4259px, 32px, $footer-text-color);
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 1/2/2/3;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            grid-area: 2/1/3/4;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            grid-area: 5/1/6/2;
        }
    }
    &__email {
        grid-area: 3/1/4/2;
        font-family: 'TT Hoves';
        @include font(400, 18.511px, 32px, $footer-text-color);
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 1/2/2/3;
            align-self: center;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            align-self: start;
            justify-self: end;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            grid-area: 2/1/3/2;
            justify-self: center;
        }
    }
    &__support {
        grid-area: 4/1/5/2;
        @include font(500, 18px, 22px, $footer-text-color);
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 1/2/2/3;
            margin-top: auto;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            margin: 0;
            align-self: center;
            justify-self: end;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            grid-area: 6/1/7/2;
            justify-self: center;
        }
    }
    &__area-2 {
        grid-area: 5/1/6/4;
        display: flex;
        gap: 34px;
        @media screen and (max-width: $footer-breakpoint-2) {
            grid-area: 4/1/5/3;
        }
        @media screen and (max-width: $footer-breakpoint-4) {
            grid-area: 4/2/5/3;
            justify-self: end;
            flex-flow: column;
            gap: 0;
        }
        @media screen and (max-width: $footer-breakpoint-5) {
            grid-area: 7/1/8/2;
            justify-self: center;
            align-items: center;
        }
    }
    &__copyright,
    &__terms,
    &__policy {
        font-family: 'TT Hoves';
        @include font(400, 12.3407px, 32px, $footer-text-color);
    }
    &__terms,
    &__policy {
        text-decoration: none;
    }
}

