@use '../../../../common/utils';

.aboutprod {
    padding: 60px 0 60px 0;
    background: utils.$var-color-bigli;
    &__unit1 {
        margin-bottom: 60px;
    }
    &__unit1,
    &__unit2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    &__img {
        width: 63%;
        height: 426px;
        @media screen and (max-width: utils.$var-aboutprod-breakpoint-1) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__buy {
        @media screen and (max-width: utils.$var-aboutprod-breakpoint-1) {
            width: 100%;
        }
        &-btn {
            @media screen and (max-width: utils.$var-aboutprod-buy-breakpoint-1) {
                width: 150px;
            }    
        }
    }
    &__tab {
        width: 63%;
        @media screen and (max-width: utils.$var-aboutprod-breakpoint-1) {
            width: 100%;
            margin-bottom: 40px;
        }
        &-btn {
            padding: 10px;
            -webkit-transition: color .2s;
            -o-transition: color .2s;
            transition: color .2s;
            @include utils.mix-font(500, 28px, 19px, utils.$var-color-gray);
            @media screen and (max-width: utils.$var-aboutprod-tab-breakpoint-1) {
                padding: 3px;
                font-size: calc(20px + 28 * ((100vw - 320px) / (997 - 320)));
            }
        }
        &-btn:first-child {
            padding-left: 0;
        }
        &-btn.tab__btn_active {
            color: utils.$var-color-green-haze;
        }
        &-btn:not(.tab__btn_active):hover {
            color: utils.$var-color-malachite;
        }
    }
    &__btns {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 30px;
    }
    &__descr {
        &-title {
            margin-bottom: 22px;
            @include utils.mix-font(500, 21px, 19px, utils.$var-color-black);
        }
        &-text {
            @include utils.mix-font(400, 18px, 19px, utils.$var-color-gray);
        }
        &-text p:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__param ul li {
        list-style: none;
        @include utils.mix-font(500, 18px, 22px, utils.$var-color-gray);
    }
    &__param ul li:not(:last-child) {
        margin-bottom: 20px;
    }
    &__reviews {
        &-title {
            margin-bottom: 16px;
            @include utils.mix-font(500, 21px, 19px, utils.$var-color-black);
        }
    }
    &__slide {
        padding: 13px 16px;
        border-radius: 11.1818px;
        background: utils.$var-color-desert-storm;
    }
    &__ava {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &-wrap {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            border-radius: 50%;
        }
        &-img {
            display: block;
            width: 102%;
            height: 100%;
            border-radius: 50%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
    &__user {
        &-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        &-name {
            margin-right: 10px;
            @include utils.mix-font(500, 14px, 16px, utils.$var-color-black);
        }
        &-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    &__rating {
        margin: 5px 0 0 0;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    &__like {
        width: 10px;
        height: 10px;
        margin-right: 3px;
    }
    &__soc {
        margin-top: 3px;
        @include utils.mix-font(400, 12px, 14px, utils.$var-color-curious-blue);
    }
    &__review {
        margin-top: 6px;
        & p {
            @include utils.mix-font(400, 12px, 14px, utils.$var-color-black);

        }
    }
    &__btn-more {
        border: none;
        background: transparent;
        @include utils.mix-font(500, 11px, 13px, utils.$var-color-green-haze);
        text-decoration: underline;
        cursor: pointer;
    }
    &__slaider-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-bottom: 10px;
    }
    &__btn-next {
        display: inline-block;
        margin-right: 5px;
        @include utils.mix-font(500, 12px, 14px, utils.$var-color-green-haze);
        cursor: pointer;
    }
    &__btn-prev::before,
    &__btn-next::after {
        color: utils.$var-color-green-haze;
        cursor: pointer;
    }
    &__btn-prev::before {
        content: '\f060';
        margin-right: 40px;
    }
    &__btn-next::after {
        content: '\2192';
        margin-left: 5px;
    }
    &__bonus {
        width: 311.75px;
        @media screen and (max-width: utils.$var-aboutprod-breakpoint-1) {
            width: 100%;
        }
    }
    &__review-btn {
        padding: 12px 17px;
        margin-top: 30px;
        @include utils.mix-font(500, 14px, 16px, utils.$var-color-white);
    }
    &__basket-btn {
        @extend %center-xy-flex;
        height: 39.76px;
        width: 42px;
        
    }
}