@use '../../utils';

.list {
    list-style-type: none;
    &__node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid utils.$var-basket-list-border-color;
        border-bottom: 1px solid utils.$var-basket-list-border-color;
    }
    &__node:not(:first-child) {
        border-top: none;
    }
    &__btn {
        position: relative;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__btn::before {
        content: '\f067';
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        color: utils.$var-list-btn-color;
    }
    &__icon {
        flex-shrink: 0;
        border-radius: 5px;
        background: utils.$var-btn-bgcolor;
    }
    &__icon img {
        @extend %inner-img;
    }
    &__price {
        display: flex;
    }
}