@use '../../utils';

.list {
    list-style-type: none;
    &__node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid utils.$var-color-gallery;
        border-bottom: 1px solid utils.$var-color-gallery;
    }
    &__node:not(:first-child) {
        border-top: none;
    }
    &__btn {
        background: center/cover no-repeat url("../../../../img/icons/plus_grey.svg");
    }
    &__icon {
        flex-shrink: 0;
        border-radius: 5px;
        background: utils.$var-color-green-haze;
    }
    &__icon img {
        @extend %inner-img;
    }
    &__price {
        display: flex;
    }
}