@charset "UTF-8";
.table__btn, .products__card-basket, .header__user-btn, .header__basket-btn, .bonus__icon, .rating label, .pwa__column, .mobmenu__dropdown-img, .display__item, .basket-cart, .basket-cart__amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobmenu__icon-item, .mobmenu__btn-icon, .list__icon img, .card__img-item, .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__row {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "TT Norms Pro";
}

.body_lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: #00AC4E;
  border: none;
  cursor: pointer;
}

[data-dropdown=menu] {
  display: none;
}

.menu__dropdown_active {
  display: block !important;
}

.basket-cart {
  text-decoration: none;
  background: transparent;
}
.basket-cart__amount {
  border-radius: 50%;
  background: #EB5757;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 8px;
  color: #FFFFFF;
  font-family: "TT Hoves";
}

.shopping-cart {
  border-radius: 9.03636px;
  background-color: #00AC4E;
}

.choice {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #EBEBEB;
  transition: background-color 0.2s;
  cursor: pointer;
}

.choice:checked {
  background-color: #00AC4E;
}

.card {
  width: 205.5px;
}
.card__img {
  height: 125.83px;
  border-radius: 4.52641px;
  margin-bottom: 9px;
  overflow: hidden;
}
.card__content {
  margin-bottom: 12.58px;
}
.card__content-2 {
  margin-bottom: 13.58px;
}
.card__title {
  font-weight: 500;
  font-style: normal;
  font-size: 14.4845px;
  text-transform: capitalize;
  line-height: 22px;
  color: #000000;
  margin: 0;
  margin-bottom: 5.39px;
}
.card__description {
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
  margin-bottom: 12.69px;
}
.card__star {
  font-size: 14px;
  color: #EBEBEB;
}
.card__star:not(:last-child) {
  margin: 0 4px 9.65px 0;
}
.card__price {
  display: flex;
}
.card__price-1 {
  display: flex;
  margin-right: 18.11px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 23px;
  color: #000000;
}
.card__price-1-item {
  margin-right: 5px;
}
.card__price-2 {
  display: flex;
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 23px;
  color: #828282;
}
.card__price-2-text {
  margin-right: 3px;
}
.card__button {
  width: 140.32px;
  height: 38.02px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 14px;
  color: #fff;
}
.card__add {
  display: none;
  justify-content: space-between;
}
.card__display {
  width: 130.32px;
  height: 38.02px;
}
.card__basket {
  border-radius: 9.03636px;
  background-color: #00AC4E;
}
.card__basket-icon {
  color: #fff;
  font-size: 22px;
}

.display {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.903636px solid #EBEBEB;
  border-radius: 9.03636px;
  background: #FCFCFC;
}
.display__btn-minus, .display__btn-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.display__btn-minus {
  left: 10px;
}
.display__btn-plus {
  right: 10px;
}
.display__btn-minus::before, .display__btn-plus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "FontAwesome";
  font-size: 8px;
}
.display__btn-minus::before {
  content: "\f068";
}
.display__btn-plus::before {
  content: "\f067";
}

.enter {
  display: flex;
  align-items: center;
  height: min-content;
}
.enter__btn-in {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.enter__img-wrap {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.enter__separator {
  margin: 0 3px;
}
.enter__btn-checkin-text, .enter__btn-in-text, .enter__separator {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: capitalize;
  line-height: 32px;
  color: #fff;
}

.form__select {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: transparent;
  background-image: none;
}
.form__select-wrap {
  width: 100%;
  background: #FCFCFC;
  overflow: hidden;
}
.form__input {
  background: #FCFCFC;
  transition-property: box-shadow border-color;
  transition: 0.2s;
}
.form__input:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
  border-color: #00AC4E;
}
.form__input:focus {
  border-color: #00AC4E;
}
.form__wrap {
  display: flex;
  flex-flow: column;
}

.list {
  list-style-type: none;
}
.list__node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}
.list__node:not(:first-child) {
  border-top: none;
}
.list__btn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
.list__btn::before {
  content: "\f067";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  color: #C6C6C6;
}
.list__icon {
  flex-shrink: 0;
  border-radius: 5px;
  background: #00AC4E;
}
.list__price {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-right: 8.67px;
}
@media screen and (max-width: 360px) {
  .logo__img {
    display: none;
  }
}

.mobmenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 67%;
  z-index: 10;
  transition: left 0.2s;
}
.mobmenu_active {
  left: 0;
}
.mobmenu__overlay {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: left 0.2s;
  z-index: 9;
}
.mobmenu__overlay_active {
  display: block;
}
.mobmenu__header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: #fff;
}
.mobmenu__burger {
  width: 20px;
  height: 20px;
  margin-right: 53px;
  background: #00AC4E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mobmenu__dropdown {
  display: none;
  padding: 10px 0 15px 40px;
}
.mobmenu__dropdown-node:not(:last-child) {
  margin-bottom: 15px;
}
.mobmenu__dropdown-text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 12px;
  color: #F2F2F2;
}
.mobmenu__dropdown-img > i {
  display: block;
  font-size: 14px;
  color: #fff;
}
.mobmenu__nav {
  height: 100vh;
  padding: 30px 21px 0 30px;
  background: #343E48;
  overflow-y: auto;
}
.mobmenu__list {
  list-style-type: none;
}
.mobmenu__node {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobmenu__node:not(:first-child) {
  margin-top: 25px;
}
.mobmenu__node:last-child {
  margin-top: 50px;
}
.mobmenu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mobmenu__icon {
  width: 16px;
  height: 14px;
  margin-right: 7px;
}
.mobmenu__text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  color: #fff;
}
.mobmenu__btn {
  width: 7px;
  height: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}
.mobmenu__btn-icon {
  display: block;
}
.mobmenu__btn_active {
  transform: rotateZ(-90deg);
}

.navigation__list {
  position: relative;
  display: flex;
  list-style-type: none;
}
.navigation__node:not(:last-child) {
  margin-right: 45px;
}
@media screen and (max-width: 950px) {
  .navigation__node:not(:last-child) {
    margin-right: 25px;
  }
}
.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #333333;
}
.navigation__dropdown {
  list-style-type: none;
}
.navigation__dropdown-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navigation__dropdown-img {
  width: 16px;
  height: 16px;
  margin-right: 7.46px;
}
.navigation__dropdown-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order {
  width: 345px;
  padding: 50px 33px 41px 33px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #fff;
}
.order__title {
  margin-bottom: 39px;
}
.order__title span {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}
.order__prod {
  margin-bottom: 35px;
}
.order__prod-name, .order__prod-price, .order__prod-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__promo {
  margin-bottom: 45px;
}
.order__promo-name {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__promo-price, .order__promo-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #00AC4E;
}
.order__total-name {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.order__total-price, .order__total-currency {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}
.order__prod, .order__promo {
  display: flex;
  justify-content: space-between;
}
.order__btn {
  margin-top: 30px;
  padding: 16px 21px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #fff;
}

.promo__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 24px;
  color: #000000;
}
.promo__input {
  width: 187px;
  height: 47px;
  padding-left: 17px;
  background: #FCFCFC;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
.promo__input:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
}
.promo__input:focus {
  border-color: #00AC4E;
}
.promo__btn {
  margin-left: 18px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 21px;
  color: #fff;
  padding: 13px 25px;
}

.pwa {
  padding: 5px 27px;
  background: #00AC4E;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 52px;
}
.pwa__row {
  display: flex;
  justify-content: space-between;
}
.pwa__column {
  width: 37px;
  height: 37px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.pwa__column_basket {
  position: relative;
}
.pwa__column-icon {
  font-size: 22px;
  color: #fff;
  transition: color 0.2s;
}
.pwa__column:hover {
  background: #fff;
}
.pwa__column:hover .pwa__column-icon {
  color: #00AC4E;
}
.pwa__column.pwa__column_active {
  background-color: #fff;
}
.pwa__column.pwa__column_active .pwa__column-icon {
  color: #00AC4E;
}

.rating {
  display: flex;
  font-size: 1.2em;
  justify-content: space-around;
  margin-left: 9px;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  margin-right: 5px;
  color: #ccc;
  cursor: pointer;
}
.rating .rating input :checked ~ label {
  color: #00AC4E;
}
.rating label:hover, .rating label:hover ~ label {
  color: #00d64e;
}
.rating__star_active-0 :nth-child(-n+0) {
  color: #00AC4E !important;
}
.rating__star_active-1 :nth-child(-n+1) {
  color: #00AC4E !important;
}
.rating__star_active-2 :nth-child(-n+2) {
  color: #00AC4E !important;
}
.rating__star_active-3 :nth-child(-n+3) {
  color: #00AC4E !important;
}
.rating__star_active-4 :nth-child(-n+4) {
  color: #00AC4E !important;
}
.rating__star_active-5 :nth-child(-n+5) {
  color: #00AC4E !important;
}
.rating__set > i {
  color: #ccc;
  font-style: 18px;
  transition: color 0.2s;
}
.rating__set > i:not(:last-child) {
  margin-right: 5px;
}

.tab__btns {
  display: flex;
}
.tab__content_active {
  display: block;
}
.tab__more {
  display: none;
}
.tab__more_active {
  display: inline;
}

.bonus {
  padding: 27px 29px 38px 29px;
  background: #fff;
  box-shadow: 0px 0px 27.2043px rgba(0, 0, 0, 0.06);
  border-radius: 18.1362px;
  /* Firefox */
  /* Chrome & Safari */
  /* IE */
}
.bonus__descr {
  display: flex;
  align-items: center;
}
.bonus__descr:not(:last-child) {
  margin: 25px 0;
}
.bonus__icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.bonus__icon-item {
  font-size: 26px;
  color: #00AC4E;
}
.bonus__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
}
.bonus__title span {
  font-weight: 500;
}
.bonus__range-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 50px auto 30px auto;
}
.bonus__range {
  width: 100%;
  -webkit-appearance: none;
}
.bonus__range-text1 {
  position: absolute;
  top: 23px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: #000000;
}
.bonus__range-text2 {
  position: absolute;
  top: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 12px;
  color: #000000;
}
.bonus__range-text1, .bonus__range-text2 {
  width: 100%;
  text-align: center;
}
.bonus__range-text1 span, .bonus__range-text2 span {
  font-weight: 500;
}
.bonus__range-fill {
  position: absolute;
  width: 0%;
  height: 3px;
  background: #00AC4E;
}
.bonus__range-count {
  position: absolute;
  top: -35px;
  left: 0%;
  padding: 3px 7px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
  background: #FCFCFC;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.bonus__range:focus {
  outline: none;
}
.bonus__range::-moz-range-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.bonus__range::-webkit-slider-runnable-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  margin-top: -4px;
  cursor: pointer;
}
.bonus__range::-ms-track {
  background: #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.bonus__range::-ms-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #00AC4E;
  border-radius: 50%;
  border: none;
  margin-top: -7px;
  cursor: pointer;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.popup-form {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
}

.close-btn {
  background: transparent;
  cursor: pointer;
  border: none;
}

.popup-icon__item {
  width: 29px;
  height: 29px;
  margin: 0 auto;
  background: center/cover no-repeat url("../../../../img/icons/person.svg");
}

.popup-title1 {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
  text-align: center;
}

.form-input {
  position: relative;
}
.form-input__item {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  font-family: "TT Norms Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 15px;
  color: #4F4F4F;
  background: #FCFCFC;
  border: 0.873181px solid #EBEBEB;
  border-radius: 5.91549px;
}
.form-input__item:hover {
  box-shadow: 0 0 1.5px 1px #00AC4E;
  transition: box-shadow 0.2s;
}
.form-input__item:focus {
  border-color: #00AC4E;
  outline: none;
}
.form-input__item[type=tel]:focus::placeholder {
  color: #4F4F4F;
}
.form-input__item::placeholder {
  font-family: "TT Norms Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #C6C6C6;
}
.form-input__item[type=tel]:valid + div::after, .form-input__item[type=password]:valid + div::after, .form-input__item[type=text]:valid + div::after {
  content: "✓";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17px;
  color: #00AC4E;
}
.form-input__item[type=tel]:focus:invalid + div::after, .form-input__item[type=password]:focus:invalid + div::after, .form-input__item[type=text]:focus:invalid + div::after {
  content: "✖";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17px;
  color: #EB5757;
}
.form-input__phone, .form-input__key, .form-input__document-case, .form-input__date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form-input__phone, .form-input__key, .form-input__document-case {
  left: 15px;
  width: 13px;
  height: 13px;
}
.form-input__phone {
  background: center/cover no-repeat url("../../../../img/icons/phone.svg");
}
.form-input__key {
  background: center/cover no-repeat url("../../../../img/icons/key.svg");
}
.form-input__document-case {
  background: center/contain no-repeat url("../../../../img/icons/document_case_grey.svg");
}
.form-input__date {
  background: center/cover no-repeat url("../../../../img/icons/date.svg");
}

.password-recovery__form {
  width: 303px;
  padding: 24px 38px 21px 38px;
  border-radius: 14.7609px;
}
@media screen and (max-width: 320px) {
  .password-recovery__form {
    width: 280px;
    padding: 20px 25px 20px 25px;
  }
}
.password-recovery__close {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 10px;
  right: 14px;
}
.password-recovery__title {
  margin: 12px 0 24px 0;
}
.password-recovery__wrap {
  height: 42px;
}
.password-recovery__wrap:not(:last-child) {
  margin-bottom: 21px;
}
.password-recovery__container-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.password-recovery__btn {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 15px;
  color: initial;
  color: #00AC4E;
  transition: 0.2s background, 0.2s color;
  cursor: pointer;
}
.password-recovery__btn_active {
  background-color: #00AC4E;
  color: #fff;
}

.signin__form {
  width: 302px;
  padding: 24px 38px 22px 38px;
  border-radius: 14px;
}
@media screen and (max-width: 320px) {
  .signin__form {
    width: 260px;
    padding: 20px 25px 20px 25px;
  }
}
.signin__close {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 12px;
  right: 14px;
}
.signin__title {
  margin-top: 11px;
  margin-bottom: 24px;
}
.signin__wrap {
  height: 42px;
}
.signin__wrap:not(:last-child) {
  margin-bottom: 21px;
}
.signin__wrong-message {
  visibility: hidden;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 15px;
  color: #EB5757;
}
.signin__wrong-message_hidden {
  visibility: visible;
}
.signin__btns {
  margin-top: 7px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.signin__password-recovery-btn {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  color: initial;
  margin-bottom: 10px;
}
.signin__password-recovery-btn, .signin__checkin-btn {
  text-decoration: underline;
  color: #00AC4E;
  border: none;
  background: transparent;
  cursor: pointer;
}
.signin__enter-btn {
  width: 121.04px;
  height: 38.38px;
  border-radius: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 15px;
  color: #fff;
}
.signin__register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 15px;
  color: #000000;
}
.signin__register-txt {
  margin-right: 5px;
}

.subscribe__icon {
  width: 23px;
  height: 18.82px;
  margin: 0 auto 12px auto;
  background: center/contain no-repeat url("../../../../img/icons/document_case_green.svg");
}
.subscribe__form {
  width: 303px;
  padding: 34px 31px 35px 31px;
  border-radius: 14px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .subscribe__form {
    width: 271px;
  }
}
.subscribe__close {
  position: absolute;
  top: 10px;
  right: 19px;
}
.subscribe__title {
  margin-bottom: 22px;
}
.subscribe__btn {
  width: 121.04px;
  height: 38.38px;
  margin-top: 12px;
  border-radius: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 15px;
  color: #fff;
}

.checkin__form {
  width: 303px;
  height: 445px;
  padding: 24px 38px 18px 38px;
  border-radius: 14px;
}
@media screen and (max-width: 320px) {
  .checkin__form {
    width: 280px;
    padding: 24px 25px 18px 25px;
  }
}
.checkin__close {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 7px;
  right: 6px;
}
.checkin__title {
  margin: 11px 0 25px 0;
}
.checkin__wrap {
  height: 42.82px;
}
.checkin__wrap:not(:last-child) {
  margin-bottom: 21px;
}
.checkin__wrong-message {
  margin: 13px 0 12px 0;
  font-weight: 400;
  font-style: normal;
  font-size: 7.3px;
  text-transform: none;
  line-height: 11px;
  color: #EB5757;
}
.checkin__row {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.checkin__row:not(:last-child) {
  margin-bottom: 12px;
}
.checkin__checkbox {
  flex-shrink: 0;
  margin-right: 12.5px;
}
.checkin__label {
  font-weight: 400;
  font-style: normal;
  font-size: 7.3px;
  text-transform: none;
  line-height: 11px;
  color: #C6C6C6;
}
.checkin__policy {
  text-decoration: none;
  color: #00AC4E;
}
.checkin__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.checkin__submit {
  width: 138.8px;
  height: 38.39px;
  border-radius: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 10.3px;
  text-transform: none;
  line-height: 16px;
  color: #fff;
}

.reserv__form {
  width: 654px;
  padding: 40px 56px 27px 56px;
  border-radius: 14.7609px;
  text-align: center;
}
@media screen and (max-width: 733px) {
  .reserv__form {
    width: 303px;
    padding: 42px 37px 26px 37px;
  }
}
.reserv__close {
  position: absolute;
  top: 12px;
  right: 19px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 733px) {
  .reserv__close {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 14px;
  }
}
.reserv__title {
  margin-bottom: 17px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
}
@media screen and (max-width: 733px) {
  .reserv__title {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
.reserv__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "phone amount" "time date";
  grid-gap: 14px 33px;
  margin-top: 11px;
}
.reserv__container .reserv__wrap:nth-child(1) {
  grid-area: phone;
}
.reserv__container .reserv__wrap:nth-child(2) {
  grid-area: time;
}
.reserv__container .reserv__wrap:nth-child(3) {
  grid-area: amount;
}
.reserv__container .reserv__wrap:nth-child(4) {
  grid-area: date;
}
@media screen and (max-width: 733px) {
  .reserv__container {
    grid-template-columns: 1fr;
    grid-template-areas: "phone" "amount" "date" "time";
    grid-gap: 22px 0;
    margin-top: 22px;
  }
}
.reserv__wrap {
  height: 48px;
}
@media screen and (max-width: 733px) {
  .reserv__wrap {
    height: 42px;
  }
}
.reserv__input {
  padding-left: 15px;
}
.reserv__input:focus ~ .reserv__name {
  display: none;
}
.reserv__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #C6C6C6;
}
@media screen and (max-width: 733px) {
  .reserv__name {
    left: 15px;
    transform: translateY(-50%);
  }
}
.reserv__name_active {
  display: none;
}
.reserv__date {
  width: 15px;
  height: 15px;
  right: 20px;
}
.reserv__wrap input[type=date]::-webkit-calendar-picker-indicator, .reserv__wrap input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
.reserv__btn {
  width: 164px;
  height: 52px;
  margin-top: 25px;
  border-radius: 6.77465px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #fff;
}
@media screen and (max-width: 733px) {
  .reserv__btn {
    width: 121.04px;
    height: 38.38px;
    margin-top: 23px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
  }
}

.review__form {
  width: 418px;
  padding: 40px 30px 40px 30px;
}
@media screen and (max-width: 466px) {
  .review__form {
    width: 361px;
  }
}
@media screen and (max-width: 410px) {
  .review__form {
    width: 310px;
  }
}
.review__wrap:nth-child(3) {
  position: relative;
}
.review__wrap:nth-child(3)::before {
  content: "0 / 500";
  position: absolute;
  top: -14px;
  right: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 9px;
  color: #C6C6C6;
}
@media screen and (max-width: 466px) {
  .review__wrap:nth-child(3)::before {
    top: 13px;
  }
}
.review__field-name {
  margin-right: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
}
@media screen and (max-width: 466px) {
  .review__wrap .review__label .review__field-name {
    margin: 0 0 5px 0;
  }
}
.review__rating {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.review__label {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 466px) {
  .review__label {
    flex-flow: column;
  }
}
.review__label input, .review__label textarea {
  width: 69%;
}
@media screen and (max-width: 466px) {
  .review__label input, .review__label textarea {
    width: 100%;
  }
}
.review__label textarea {
  resize: none;
}
.review__label input {
  padding-left: 10px;
}
.review__btn {
  width: 175.44px;
  padding: 10px 17px;
  margin: 0 auto 0 31%;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #fff;
}
@media screen and (max-width: 466px) {
  .review__btn {
    margin: 0 auto;
  }
}

.header {
  padding: 30px 0 30px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 900px) {
  .header {
    padding: 15px 0 15px 0;
  }
}
.header__burger {
  position: relative;
  height: 12.52px;
  width: 22.3px;
  cursor: pointer;
  transition: width 0.2s;
}
@media screen and (max-width: 360px) {
  .header__burger {
    margin-right: 20px;
  }
}
.header__burger-line {
  position: absolute;
  height: 2.35px;
  border-radius: 4.5px;
  background: #333333;
}
.header__burger-line:first-child {
  top: 0;
  width: 20.34px;
}
.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 22.3px;
}
.header__burger-line:last-child {
  bottom: 0;
  width: 10.95px;
}
.header__burger_active .header__burger-line {
  width: 22.34px;
  background: #00AC4E;
}
.header__dropdown {
  display: none;
  position: absolute;
  top: 22px;
  padding: 15px 20px 15px 32.6px;
  border-radius: 12px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  z-index: 2;
}
.header__dropdown-node {
  margin-bottom: 17.39px;
}
.header__dropdown-text {
  width: max-content;
  font-weight: 400;
  font-style: normal;
  font-size: 10.66px;
  text-transform: none;
  line-height: 13px;
  color: #333333;
}
.header__dropdown_active {
  display: block;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  padding-left: 10px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__tel {
  margin-right: 65px;
}
.header__tel-link {
  display: flex;
  text-decoration: none;
}
.header__tel-icon {
  margin-right: 5px;
}
.header__user {
  display: flex;
}
.header__user-btn {
  width: 31px;
  height: 31px;
  margin-right: 30.75px;
  border: none;
  background: none;
}
@media screen and (max-width: 397px) {
  .header__user-btn {
    margin-right: 14px;
  }
}
.header__user-btn .fa-user {
  font-size: 22px;
  color: #00AC4E;
}
.header__basket-btn {
  position: relative;
  width: 31px;
  height: 31px;
}
.header__basket-btn-icon {
  font-size: 22px;
  color: #00AC4E;
}
.header__tel {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 455px) {
  .header__tel {
    margin-right: 31px;
  }
}
@media screen and (max-width: 397px) {
  .header__tel {
    margin-right: 14px;
  }
}
.header__tel-icon-item {
  color: #00AC4E;
  font-size: 20px;
}
.header__tel-number {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #000000;
}
@media screen and (max-width: 590px) {
  .header__tel-number {
    display: none;
  }
}
.header__basket-amount {
  position: absolute;
  top: 1px;
  right: -3px;
  width: 13px;
  height: 13px;
}

.delivery {
  padding: 60px 0 60px 0;
}
.delivery__conteiner {
  padding: 31.71px 0 58.9px 40.77px;
  background-color: #F2F2F2;
  background-image: url("/img/delivery/01.png");
  background-repeat: no-repeat;
  background-position: right top;
  box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
}
@media screen and (max-width: 600px) {
  .delivery__conteiner {
    padding-left: 0;
    text-align: center;
  }
}
.delivery__text {
  width: 53%;
  margin: 0;
  margin-bottom: 34.43px;
  font-weight: 400;
  font-style: normal;
  font-size: 31.6273px;
  text-transform: none;
  line-height: 38px;
  color: #333333;
}
@media screen and (max-width: 600px) {
  .delivery__text {
    width: 100%;
  }
}
.delivery__btn {
  width: 171.25px;
  height: 52.55px;
  font-weight: 500;
  font-style: normal;
  font-size: 25.3018px;
  text-transform: capitalize;
  line-height: 30px;
  color: #fff;
}

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
.simple-pagination {
  display: flex;
  justify-content: center;
}
.simple-pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.simple-pagination li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.simple-pagination a {
  text-decoration: none;
}

.ellipse .clickable {
  cursor: pointer;
}
.ellipse input {
  width: 3em;
  border-color: #00AC4E;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}

.mytheme span {
  cursor: pointer;
}
.mytheme a, .mytheme span {
  width: 41px;
  height: 41px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
  border-radius: 5px;
}
.mytheme a, .mytheme li:not(.disabled):not(.active) span {
  transition: 0.2s transform;
}
.mytheme .ellipse {
  margin: auto;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
}
.mytheme a:hover, .mytheme li:not(.disabled):not(.active) span:hover {
  transform: scale(1.1);
}
.mytheme .current {
  color: #fff;
  cursor: default;
}
.mytheme .active, .mytheme .page-link, .mytheme .current {
  width: 41px;
  height: 41px;
}
.mytheme .page-link, .mytheme .current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mytheme .current {
  background: #00AC4E;
  border-radius: 5px;
}
.mytheme .next, .mytheme .prev {
  width: 8px;
  height: 19px;
}
.mytheme .next {
  margin-left: 15px;
  background: url(../img/pagination/next.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mytheme .prev {
  margin-right: 15px;
  background: url(../img/pagination/prev.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mytheme .disabled {
  opacity: 0.5;
}

.products {
  margin-top: 30px;
}
.products__title {
  font-weight: 500;
  font-style: normal;
  font-size: 27.1585px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
  margin-bottom: 39.75px;
}
.products__row {
  justify-content: space-between;
}
.products__card {
  margin-bottom: 56.13px;
}
.products__card-add_active {
  display: flex;
}
.products__card-btn_inactive {
  display: none;
}
.products__link {
  display: block;
  text-decoration: none;
}
.products__card-basket {
  height: 38px;
  width: 45px;
}
.products__card-basket-img {
  height: 70%;
}

.slider1 {
  margin-top: 60px;
}
.slider1__conteiner {
  border-radius: 18.07px;
}
.slider1__slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 253.71px;
  background-image: linear-gradient(#F1F1FB, #EBEBF5);
}
.slider1__pagination-bullet-active {
  width: 40px;
  height: 8px;
  border-radius: 30px;
  background-color: #fff;
  opacity: 1;
}
.slider1__text {
  padding: 40.77px 0 57.99px 40.77px;
  margin-right: 30px;
}
.slider1__string1 {
  margin-bottom: 9px;
  font-weight: 400;
  font-style: normal;
  font-size: 31.63px;
  text-transform: none;
  line-height: 37.89px;
  color: #333333;
}
.slider1__string2 {
  margin-bottom: 32px;
  font-weight: 400;
  font-style: normal;
  font-size: 19.88px;
  text-transform: none;
  line-height: 23.82px;
  color: #828282;
}
.slider1__btn {
  padding: 10px 30px;
  font-weight: 500;
  font-style: normal;
  font-size: 25.3px;
  text-transform: none;
  line-height: 30.31px;
  color: #fff;
}
.slider1__img {
  width: 411px;
}
.slider1__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider2 {
  margin-top: 25px;
}
.slider2__link {
  position: relative;
  display: inline-block;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 23.3333px;
  text-transform: uppercase;
  line-height: 36px;
  color: #4F4F4F;
  text-decoration: none;
  transition: color 0.2s;
  white-space: nowrap;
}
.slider2__link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 16px;
  border-radius: 9.03636px;
  background-color: #00AC4E;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}
.slider2__link:hover {
  color: #fff;
}
.slider2__link:hover::before, .slider2__link:focus::before {
  opacity: 0.9;
}
.slider2__slide {
  width: auto !important;
}
.slider2__next, .slider2__prev {
  position: absolute;
  width: 30px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: #fff;
  z-index: 2;
  cursor: pointer;
}
.slider2__next {
  right: 0;
}
.slider2__prev {
  left: 0;
}
.slider2__next.slider2__button-disabled, .slider2__prev.slider2__button-disabled {
  cursor: auto;
}
.slider2__next.slider2__button-disabled .slider2__next-img, .slider2__prev.slider2__button-disabled .slider2__prev-img {
  opacity: 0.35;
}
.slider2__next-img, .slider2__prev-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}
.slider2__next-img {
  right: 0;
}
.slider2__prev-img {
  left: 0;
  transform: translateY(-50%) rotateZ(180deg);
}

.table {
  display: none;
}
@media screen and (max-width: 900px) {
  .table {
    display: block;
  }
}
.table__btn {
  height: 17px;
  width: 100%;
  margin-top: 4px;
  border: none;
  border-radius: 5px;
  background: #00AC4E;
  cursor: pointer;
}
.table__btn-text {
  font-weight: 500;
  font-style: normal;
  font-size: 8.55856px;
  text-transform: none;
  line-height: 10px;
  color: #fff;
  margin-right: 5px;
}
.table__btn-img {
  width: 10px;
  height: 8px;
}
.table__btn-img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  margin-top: 60px;
}
.video__wrapper {
  position: relative;
  height: 648px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.46) 100%), url("../../../../../../img/video/bg.png");
  background-size: cover;
}
.video__iframe {
  width: 100%;
  height: 100%;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 106px;
  height: 106px;
  padding: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.video__btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #00AC4E;
  padding: 34px 0 24px 0;
}
.footer__conteiner {
  display: grid;
  grid-template-columns: 39.3% 31.1% 29.4%;
}
@media screen and (max-width: 932px) {
  .footer__conteiner {
    grid-template-columns: 46% 27% 27%;
  }
}
@media screen and (max-width: 855px) {
  .footer__conteiner {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 440px) {
  .footer__conteiner {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.footer__area-1 {
  grid-area: 1/1/2/2;
  display: grid;
  grid-column-gap: 30px;
}
@media screen and (max-width: 855px) {
  .footer__area-1 {
    grid-gap: 10px 0;
  }
}
.footer__country {
  grid-area: 1/1/2/2;
}
.footer__country-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__country-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__order {
  grid-area: 1/2/2/3;
  justify-self: end;
}
@media screen and (max-width: 855px) {
  .footer__order {
    grid-area: 2/1/3/2;
    justify-self: start;
  }
}
.footer__order-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__order-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 30px;
  color: #fff;
}
.footer__social {
  grid-area: 1/2/2/3;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
@media screen and (max-width: 855px) {
  .footer__social {
    grid-area: 2/1/3/3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 634px) {
  .footer__social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 512px) {
  .footer__social {
    grid-area: 3/1/4/3;
  }
}
@media screen and (max-width: 440px) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: 3/1/4/2;
  }
}
.footer__social-1 {
  margin-bottom: 25.61px;
}
@media screen and (max-width: 855px) {
  .footer__social-1 {
    margin: 0;
  }
}
.footer__social-1, .footer__social-2 {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
  letter-spacing: 3.08517px;
  font-variant: small-caps;
  text-decoration: none;
}
.footer__user {
  grid-area: 1/3/2/4;
  justify-self: end;
}
@media screen and (max-width: 855px) {
  .footer__user {
    grid-area: 3/1/4/2;
    justify-self: start;
  }
}
@media screen and (max-width: 512px) {
  .footer__user {
    grid-area: 4/1/5/2;
  }
}
@media screen and (max-width: 440px) {
  .footer__user {
    justify-self: center;
  }
}
.footer__work {
  grid-area: 2/1/3/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 23px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__work {
    grid-area: 1/2/2/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__work {
    grid-area: 2/1/3/4;
  }
}
@media screen and (max-width: 440px) {
  .footer__work {
    grid-area: 5/1/6/2;
  }
}
.footer__email {
  grid-area: 3/1/4/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 59px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__email {
    grid-area: 1/2/2/3;
    align-self: center;
  }
}
@media screen and (max-width: 512px) {
  .footer__email {
    -ms-flex-item-align: start;
    align-self: start;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__email {
    grid-area: 2/1/3/2;
    justify-self: center;
  }
}
.footer__support {
  grid-area: 4/1/5/2;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 19px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__support {
    grid-area: 1/2/2/3;
    margin-top: auto;
  }
}
@media screen and (max-width: 512px) {
  .footer__support {
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__support {
    grid-area: 6/1/7/2;
    justify-self: center;
  }
}
.footer__area-2 {
  grid-area: 5/1/6/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 855px) {
  .footer__area-2 {
    grid-area: 4/1/5/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__area-2 {
    grid-area: 4/2/5/3;
    justify-self: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 0;
  }
}
@media screen and (max-width: 440px) {
  .footer__area-2 {
    grid-area: 7/1/8/2;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__copyright, .footer__terms, .footer__policy {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 54px;
  color: #fff;
}
.footer__terms, .footer__policy {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
