@charset "UTF-8";
.table__btn, .header__basket-btn, .header__user-btn, .mobmenu__dropdown-img, .popup__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobmenu__btn-icon, .mobmenu__icon-item, .card__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__row {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "TT Norms Pro";
}

.body_lock {
  overflow: hidden;
}

.wrapper {
  max-width: 997px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: #00AC4E;
  border: none;
  border-radius: 4.52px;
  cursor: pointer;
}

.card {
  width: 205.5px;
}
.card__img {
  height: 125.83px;
  border-radius: 4.52641px;
  margin-bottom: 9px;
  overflow: hidden;
}
.card__content {
  margin-bottom: 13.58px;
}
.card__title {
  font-weight: 500;
  font-style: normal;
  font-size: 14.4845px;
  text-transform: capitalize;
  line-height: 22px;
  color: #000000;
  margin: 0;
  margin-bottom: 5.39px;
}
.card__description {
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
  margin-bottom: 12.69px;
}
.card__star {
  font-size: 14px;
  color: #EBEBEB;
}
.card__star:not(:last-child) {
  margin: 0 4px 9.65px 0;
}
.card__star_active {
  color: #00AC4E;
}
.card__price-1 {
  margin-right: 18.11px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 23px;
  color: #000000;
}
.card__price-2 {
  font-weight: 400;
  font-style: normal;
  font-size: 12.674px;
  text-transform: none;
  line-height: 23px;
  color: #828282;
}
.card__button {
  width: 140.32px;
  height: 38.02px;
  font-weight: 500;
  font-style: normal;
  font-size: 18.1056px;
  text-transform: none;
  line-height: 14px;
  color: #FFFFFF;
}

.navigation__list {
  position: relative;
  display: flex;
  list-style-type: none;
}
.navigation__node:not(:last-child) {
  margin-right: 45px;
}
@media screen and (max-width: 950px) {
  .navigation__node:not(:last-child) {
    margin-right: 25px;
  }
}
.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #333333;
}
.navigation__dropdown {
  list-style-type: none;
}
.navigation__dropdown-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navigation__dropdown-img {
  width: 16px;
  height: 16px;
  margin-right: 7.46px;
}
.navigation__dropdown-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#menu-dropdown {
  display: none;
}

.menu__dropdown_active {
  display: block !important;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2em;
  justify-content: space-around;
  margin-left: 9px;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  margin-right: 5px;
  color: #ccc;
  cursor: pointer;
}
.rating :checked ~ label {
  color: #00AC4E;
}
.rating label:hover, .rating label:hover ~ label {
  color: #00d64e;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.popup_active {
  display: flex;
}
.popup__form {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 14.7664px;
  width: 358px;
  box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
  border-radius: 17.4636px;
  padding: 40px 45px 40px 45px;
}
.popup__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 20px;
  width: 22.19px;
  height: 22.19px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.popup__close > i {
  font-size: 20px;
  color: #00AC4E;
}
.popup__icon {
  width: 34px;
  height: 34px;
  margin: 0 0 14px 0;
}
.popup__icon > i {
  font-size: 22px;
  color: #C6C6C6;
}
.popup__title {
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  text-transform: none;
  line-height: 22px;
  color: #000000;
  margin-bottom: 28px;
  text-align: center;
}
.popup__body {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
}
.popup__wrap:not(:last-child) {
  margin-bottom: 25px;
}
.popup__wrap {
  position: relative;
}
.popup__wrap input {
  width: 100%;
  height: 50.64px;
  padding-left: 40px;
  font-family: "TT Norms Pro";
  background: #FCFCFC;
  border: 0.873181px solid #EBEBEB;
  border-radius: 5.91549px;
}
.popup__wrap input {
  border: 0.873181px solid #EBEBEB;
  border-radius: 5.91549px;
}
.popup__wrap input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.popup__wrap input::placeholder, .popup__wrap input::-webkit-input-placeholder, .popup__wrap input::-moz-placeholder, .popup__wrap input:-ms-input-placeholder {
  font-family: "TT Norms Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #C6C6C6;
}
.popup__wrap:hover input, .popup__wrap:hover textarea {
  box-shadow: 0 0 1.5px 1px #00AC4E;
  transition: box-shadow 0.2s;
}
.popup__wrap input:focus, .popup__wrap textarea:focus {
  border-color: #00AC4E;
  outline: none;
}
.popup__wrap:focus-within::before {
  color: #00AC4E;
}
.popup__wrap::before {
  display: block;
  font-family: "FontAwesome";
  position: absolute;
  top: 30%;
  padding-left: 15px;
  color: #C6C6C6;
}
.popup__wrap:hover::before {
  color: #00AC4E;
  transition: color 0.2s;
}
.popup__wrong-message {
  margin: 7px 0;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 15px;
  color: #EB5757;
}
.popup__radio {
  display: flex;
  flex-flow: column;
}
.popup__radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.popup__radio-label:not(:last-child) {
  margin-bottom: 15px;
}
.popup__radio-real {
  display: none;
}
.popup__radio-fake {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 14.97px;
  height: 14.97px;
  margin-right: 15px;
  border: 1.87138px solid #EBEBEB;
  border-radius: 50%;
  background: transparent;
}
.popup__radio-fake::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 0%;
  height: 0%;
  border-radius: 50%;
  transition-property: width, height;
  transition: 0.3s;
  background: #00AC4E;
}
.popup__radio-real:checked + .popup__radio-fake::before {
  width: 80%;
  height: 80%;
}
.popup__radio-txt {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 14px;
  color: #C6C6C6;
}
.popup__radio-real:checked ~ .popup__radio-txt {
  font-weight: 500;
}
.popup__radio-link {
  color: #00AC4E;
}

@media screen and (max-width: 430px) {
  .signin__form {
    width: 302px;
    padding: 40px 25px 20px 25px;
  }
}
.signin__wrap:first-child::before {
  content: "";
}
.signin__wrap:last-child::before {
  content: "";
}
.signin__link {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #00AC4E;
  margin: 15px 0 12px 0;
}
.signin__btn {
  width: 143.2px;
  height: 45.41px;
  margin: 0 auto 24px auto;
  border-radius: 5.91549px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 18px;
  color: #FFFFFF;
}
.signin__register {
  font-weight: 400px;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 18px;
  color: #000000;
}
.signin__register span {
  margin-right: 5px;
}
.signin__register a {
  color: #00AC4E;
}

.subscribe__icon i {
  font-size: 25px;
  color: #00AC4E;
}
.subscribe__form {
  width: 455px;
  padding-bottom: 53px;
}
@media screen and (max-width: 530px) {
  .subscribe__form {
    width: 302px;
    padding: 40px 25px 35px 25px;
  }
}
.subscribe__title {
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  text-transform: none;
  line-height: 28px;
  color: #000000;
}
.subscribe__wrap::before {
  content: "";
}
.subscribe__btn {
  width: 181.76px;
  height: 57.63px;
  margin-top: 18px;
  border-radius: 7.50825px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 23px;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .checkin__form {
    width: 303px;
    padding: 40px 25px 20px 25px;
  }
}
.checkin__btn {
  width: 175.91px;
  height: 48.66px;
  margin: 38.36px auto 0 auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  text-transform: none;
  line-height: 20px;
  color: #FFFFFF;
}
.checkin__wrap:first-child::before {
  content: "";
}
.checkin__wrap:not(:first-child)::before {
  content: "";
}

.reserv__form {
  width: 654px;
  margin: 0 15px 0 15px;
}
@media screen and (max-width: 450px) {
  .reserv__form {
    padding: 50px 20px 35px 20px;
  }
}
.reserv__title {
  font-size: 24px;
  line-height: 18px;
}
.reserv__conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 35px;
  margin-top: 25px;
}
@media screen and (max-width: 648px) {
  .reserv__conteiner {
    grid-column-gap: 20px;
  }
}
.reserv__wrap input {
  padding-left: 15px;
}
.reserv__wrap:not(:last-child) {
  margin-bottom: 0px;
}
.reserv__wrap:nth-child(1) {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(1) {
    grid-area: 1/1/2/3;
  }
}
.reserv__wrap:nth-child(2)::before {
  content: "Время:";
  font-family: "TT Norms Pro";
  color: gray;
}
.reserv__wrap:nth-child(2) input {
  padding-left: 80px;
}
.reserv__wrap:nth-child(2) {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(2) {
    grid-area: 4/1/5/3;
  }
}
.reserv__wrap:nth-child(3) {
  grid-area: 1/2/2/3;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(3) {
    grid-area: 2/1/3/3;
  }
}
.reserv__wrap:nth-child(4) {
  grid-area: 2/2/2/3;
}
@media screen and (max-width: 600px) {
  .reserv__wrap:nth-child(4) {
    grid-area: 3/1/4/3;
  }
}
.reserv__wrap:nth-child(4)::before {
  position: absolute;
  right: 15px;
  padding: 0;
  content: "";
  font-family: "FontAwesome";
  color: #C6C6C6;
  z-index: 1;
  transition: color 0.2s;
}
.reserv__wrap:nth-child(4):hover::before {
  color: #00AC4E;
}
.reserv__wrap input[type=date]::-webkit-calendar-picker-indicator, .reserv__wrap input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
.reserv__wrap input[type=date] {
  position: relative;
}
.reserv__wrap:nth-child(4):focus-within::before {
  color: #00AC4E;
}
.reserv__btn {
  width: 164px;
  height: 52px;
  margin: 25px auto 0 auto;
  border-radius: 6.77465px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
}

.review {
  display: none;
}
.review__form {
  width: 418px;
  padding: 40px 30px 40px 30px;
}
@media screen and (max-width: 466px) {
  .review__form {
    width: 361px;
  }
}
@media screen and (max-width: 410px) {
  .review__form {
    width: 310px;
  }
}
.review__wrap:nth-child(3) {
  position: relative;
}
.review__wrap:nth-child(3)::before {
  content: "0 / 500";
  position: absolute;
  top: -14px;
  right: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 9px;
  color: #C6C6C6;
}
@media screen and (max-width: 466px) {
  .review__wrap:nth-child(3)::before {
    top: 13px;
  }
}
.review__field-name {
  margin-right: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
}
@media screen and (max-width: 466px) {
  .review__wrap .review__label .review__field-name {
    margin: 0 0 5px 0;
  }
}
.review__rating {
  display: flex;
  align-items: center;
}
.review__label {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 466px) {
  .review__label {
    flex-flow: column;
  }
}
.review__label input, .review__label textarea {
  width: 69%;
}
@media screen and (max-width: 466px) {
  .review__label input, .review__label textarea {
    width: 100%;
  }
}
.review__label textarea {
  resize: none;
}
.review__label input {
  padding-left: 10px;
}
.review__btn {
  width: 175.44px;
  padding: 10px 17px;
  margin: 0 auto 0 31%;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 21px;
  color: #FFFFFF;
}
@media screen and (max-width: 466px) {
  .review__btn {
    margin: 0 auto;
  }
}

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
.simple-pagination {
  display: flex;
  justify-content: center;
}
.simple-pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.simple-pagination li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.simple-pagination a {
  text-decoration: none;
}

.ellipse .clickable {
  cursor: pointer;
}
.ellipse input {
  width: 3em;
  border-color: #00AC4E;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
}

.mytheme span {
  cursor: pointer;
}
.mytheme a, .mytheme span {
  width: 41px;
  height: 41px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  color: #000000;
  border-radius: 5px;
}
.mytheme a, .mytheme li:not(.disabled):not(.active) span {
  transition: 0.2s transform;
}
.mytheme .ellipse {
  margin: auto;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
}
.mytheme a:hover, .mytheme li:not(.disabled):not(.active) span:hover {
  transform: scale(1.1);
}
.mytheme .current {
  color: #FFFFFF;
  cursor: default;
}
.mytheme .active, .mytheme .page-link, .mytheme .current {
  width: 41px;
  height: 41px;
}
.mytheme .page-link, .mytheme .current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mytheme .current {
  background: #00AC4E;
  border-radius: 5px;
}
.mytheme .next, .mytheme .prev {
  width: 8px;
  height: 19px;
}
.mytheme .next {
  margin-left: 15px;
  background: url(../img/pagination/next.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mytheme .prev {
  margin-right: 15px;
  background: url(../img/pagination/prev.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mytheme .disabled {
  opacity: 0.5;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #00AC4E;
  background: #FFFFFF;
  border: none;
  border-radius: 15px;
  font-family: "TT Hoves";
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}

.pika-single:after {
  clear: both;
}

.pika-single.is-hidden {
  display: block;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #00AC4E;
}

.pika-label {
  display: inline-block;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  opacity: 0.5;
}

.pika-prev::before,
.pika-next::before {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00AC4E;
}

.pika-prev::before {
  content: "";
}

.pika-next::before {
  content: "";
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.2857142857%;
  padding: 0;
}

.pika-table th {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #00AC4E;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #333333;
  text-align: center;
  background: transparent;
  height: initial;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: #00AC4E;
  font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff;
  font-weight: bold;
  background: #00AC4E;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}

.has-event .pika-button {
  background: #005da9;
  box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}

.is-outside-current-month .pika-button {
  color: #999;
  opacity: 0.3;
}

.is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  color: #fff;
  background: #00AC4E;
  box-shadow: none;
  border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}

.basket__btn {
  width: 48.8px;
  height: 39.76px;
}
.basket__btn-icon {
  font-size: 22px;
  color: #FFFFFF;
}

.mobmenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 67%;
  z-index: 10;
  transition: left 0.2s;
}
.mobmenu_active {
  left: 0;
}
.mobmenu__overlay {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: left 0.2s;
  z-index: 9;
}
.mobmenu__overlay_active {
  display: block;
}
.mobmenu__header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: aquamarine;
}
.mobmenu__burger {
  width: 20px;
  height: 20px;
  margin-right: 53px;
  background: #00AC4E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mobmenu__dropdown {
  display: none;
  padding: 10px 0 15px 40px;
}
.mobmenu__dropdown-node:not(:last-child) {
  margin-bottom: 15px;
}
.mobmenu__dropdown-text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: none;
  line-height: 12px;
  color: #F2F2F2;
}
.mobmenu__dropdown-img > i {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
}
.mobmenu__nav {
  height: 100vh;
  padding: 30px 21px 0 30px;
  background: #343E48;
  overflow-y: auto;
}
.mobmenu__list {
  list-style-type: none;
}
.mobmenu__node {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobmenu__node:not(:first-child) {
  margin-top: 25px;
}
.mobmenu__node:last-child {
  margin-top: 50px;
}
.mobmenu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mobmenu__icon {
  width: 16px;
  height: 14px;
  margin-right: 7px;
}
.mobmenu__text {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  color: #FFFFFF;
}
.mobmenu__btn {
  width: 7px;
  height: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}
.mobmenu__btn-icon {
  display: block;
}
.mobmenu__btn_active {
  transform: rotateZ(-90deg);
}

.header {
  padding: 30px 0 24px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 900px) {
  .header {
    padding: 15px 0 15px 0;
  }
}
.header__burger {
  position: relative;
  height: 12.52px;
  width: 22.3px;
  cursor: pointer;
  transition: width 0.2s;
}
@media screen and (max-width: 360px) {
  .header__burger {
    margin-right: 20px;
  }
}
.header__burger-line {
  position: absolute;
  height: 2.35px;
  border-radius: 4.5px;
  background: #333333;
}
.header__burger-line:first-child {
  top: 0;
  width: 20.34px;
}
.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 22.3px;
}
.header__burger-line:last-child {
  bottom: 0;
  width: 10.95px;
}
.header__burger_active .header__burger-line {
  width: 22.34px;
  background: #00AC4E;
}
.header__dropdown {
  display: none;
  position: absolute;
  top: 22px;
  padding: 15px 20px 15px 32.6px;
  border-radius: 12px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  background: goldenrod;
  z-index: 2;
}
.header__dropdown-node {
  margin-bottom: 17.39px;
}
.header__dropdown-text {
  width: max-content;
  font-weight: 400;
  font-style: normal;
  font-size: 10.66px;
  text-transform: none;
  line-height: 13px;
  color: #333333;
}
.header__dropdown_active {
  display: block;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__tel {
  margin-right: 65px;
}
.header__tel-link {
  display: flex;
  text-decoration: none;
}
.header__tel-icon {
  margin-right: 5px;
}
.header__user {
  display: flex;
}
.header__user-btn {
  width: 31px;
  height: 31px;
  margin-right: 30.75px;
  border: none;
  background: none;
}
@media screen and (max-width: 397px) {
  .header__user-btn {
    margin-right: 14px;
  }
}
.header__user-btn .fa-user {
  font-size: 22px;
  color: #00AC4E;
}
.header__basket-btn {
  width: 31px;
  height: 31px;
  background: transparent;
}
.header__basket-btn-icon {
  font-size: 22px;
  color: #00AC4E;
}
.header__tel {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 455px) {
  .header__tel {
    margin-right: 31px;
  }
}
@media screen and (max-width: 397px) {
  .header__tel {
    margin-right: 14px;
  }
}
.header__tel-icon-item {
  color: #00AC4E;
  font-size: 20px;
}
.header__tel-number {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 21px;
  color: #000000;
}
@media screen and (max-width: 590px) {
  .header__tel-number {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-right: 8.67px;
}
@media screen and (max-width: 360px) {
  .logo__img {
    display: none;
  }
}

.table__btn {
  height: 17px;
  width: 100%;
  margin-top: 4px;
  border: none;
  border-radius: 5px;
  background: #00AC4E;
  cursor: pointer;
}
.table__btn-text {
  font-weight: 500;
  font-style: normal;
  font-size: 8.55856px;
  text-transform: none;
  line-height: 10px;
  color: #FFFFFF;
  margin-right: 5px;
}
.table__btn-img {
  width: 10px;
  height: 8px;
}
.table__btn-img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider1 {
  margin-top: 60px;
}
.slider1__slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 253.71px;
  background-image: linear-gradient(#F1F1FB, #EBEBF5);
}
.slider1__text {
  padding: 40.77px 0 57.99px 40.77px;
  margin-right: 30px;
}
.slider1__string1 {
  margin-bottom: 9px;
  font-weight: 400;
  font-style: normal;
  font-size: 31.63px;
  text-transform: none;
  line-height: 37.89px;
  color: #333333;
}
.slider1__string2 {
  margin-bottom: 32px;
  font-weight: 400;
  font-style: normal;
  font-size: 19.88px;
  text-transform: none;
  line-height: 23.82px;
  color: #828282;
}
.slider1__btn {
  padding: 10px 30px;
  font-weight: 500;
  font-style: normal;
  font-size: 25.3px;
  text-transform: none;
  line-height: 30.31px;
  color: #FFFFFF;
}
.slider1__img {
  width: 411px;
}
.slider1__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider1__conteiner {
  border-radius: 18.07px;
}

.slider2 {
  margin-top: 25px;
}
.slider2__link {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 23.3333px;
  text-transform: uppercase;
  line-height: 27px;
  color: #4F4F4F;
  text-decoration: none;
  white-space: nowrap;
}
.slider2__slide {
  width: auto !important;
}
.slider2__next {
  right: 0;
}
.slider2__prev {
  left: 0;
}
.slider2__prev img {
  transform: rotateZ(180deg);
}
.slider2__next, .slider2__prev {
  position: absolute;
  width: 14px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  z-index: 2;
  cursor: pointer;
}
.slider2__next img, .slider2__prev img {
  object-fit: cover;
}

.products {
  margin-top: 30px;
}
.products__title {
  font-weight: 500;
  font-style: normal;
  font-size: 27.1585px;
  text-transform: none;
  line-height: 19px;
  color: #000000;
  margin-bottom: 39.75px;
}
.products__row {
  justify-content: space-between;
}
.products__card {
  margin-bottom: 56.13px;
}

.video {
  margin-top: 60px;
}
.video__wrapper {
  position: relative;
  height: 648px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.46) 100%), url("../img/video/bg.png");
  background-size: cover;
}
.video__iframe {
  width: 100%;
  height: 100%;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 106px;
  height: 106px;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.video__btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery {
  padding: 60px 0 60px 0;
}
.delivery__conteiner {
  padding: 31.71px 0 58.9px 40.77px;
  background-color: #F2F2F2;
  background-image: url("/img/delivery/01.png");
  background-repeat: no-repeat;
  background-position: right top;
  box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
}
@media screen and (max-width: 600px) {
  .delivery__conteiner {
    padding-left: 0;
    text-align: center;
  }
}
.delivery__text {
  width: 53%;
  margin: 0;
  margin-bottom: 34.43px;
  font-weight: 400;
  font-style: normal;
  font-size: 31.6273px;
  text-transform: none;
  line-height: 38px;
  color: #333333;
}
@media screen and (max-width: 600px) {
  .delivery__text {
    width: 100%;
  }
}
.delivery__btn {
  width: 171.25px;
  height: 52.55px;
  font-weight: 500;
  font-style: normal;
  font-size: 25.3018px;
  text-transform: capitalize;
  line-height: 30px;
  color: #FFFFFF;
}

.footer {
  background-color: #00AC4E;
  padding: 34px 0;
}
.footer__conteiner {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-row-gap: 20px;
}
@media screen and (max-width: 932px) {
  .footer__conteiner {
    grid-template-columns: 46% 27% 27%;
  }
}
@media screen and (max-width: 855px) {
  .footer__conteiner {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 440px) {
  .footer__conteiner {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.footer__area-1 {
  grid-area: 1/1/2/2;
  display: grid;
  grid-column-gap: 30px;
}
@media screen and (max-width: 855px) {
  .footer__area-1 {
    grid-gap: 10px 0;
  }
}
.footer__country {
  grid-area: 1/1/2/2;
}
.footer__country-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__country-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 39px;
  color: #fff;
}
.footer__order {
  grid-area: 1/2/2/3;
  justify-self: end;
}
@media screen and (max-width: 855px) {
  .footer__order {
    grid-area: 2/1/3/2;
    justify-self: start;
  }
}
.footer__order-title {
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__order-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 39px;
  color: #fff;
}
.footer__social {
  grid-area: 1/2/2/3;
  justify-self: end;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 855px) {
  .footer__social {
    grid-area: 2/1/3/3;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 634px) {
  .footer__social {
    justify-content: space-between;
  }
}
@media screen and (max-width: 512px) {
  .footer__social {
    grid-area: 3/1/4/3;
  }
}
@media screen and (max-width: 440px) {
  .footer__social {
    flex-flow: column;
    align-items: center;
    grid-area: 3/1/4/2;
  }
}
.footer__social-1 {
  margin-bottom: 25.61px;
}
@media screen and (max-width: 855px) {
  .footer__social-1 {
    margin: 0;
  }
}
.footer__social-1, .footer__social-2 {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
  letter-spacing: 3.08517px;
  font-variant: small-caps;
  text-decoration: none;
}
.footer__user {
  grid-area: 1/3/2/4;
  justify-self: end;
  display: flex;
  align-items: center;
  height: min-content;
}
@media screen and (max-width: 855px) {
  .footer__user {
    grid-area: 3/1/4/2;
    justify-self: start;
  }
}
@media screen and (max-width: 512px) {
  .footer__user {
    grid-area: 4/1/5/2;
  }
}
@media screen and (max-width: 440px) {
  .footer__user {
    justify-self: center;
  }
}
.footer__btn-in {
  display: flex;
  align-items: center;
}
.footer__btn-in .fa-user {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 7px;
  color: #fff;
}
.footer__btn-in .fa-user::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__separator {
  margin: 0 3px;
}
.footer__btn-checkin, .footer__btn-in, .footer__separator {
  font-weight: 500;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: capitalize;
  line-height: 32px;
  color: #fff;
}
.footer__work {
  grid-area: 2/1/3/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 15.4259px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__work {
    grid-area: 1/2/2/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__work {
    grid-area: 2/1/3/4;
  }
}
@media screen and (max-width: 440px) {
  .footer__work {
    grid-area: 5/1/6/2;
  }
}
.footer__email {
  grid-area: 3/1/4/2;
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 18.511px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__email {
    grid-area: 1/2/2/3;
    align-self: center;
  }
}
@media screen and (max-width: 512px) {
  .footer__email {
    align-self: start;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__email {
    grid-area: 2/1/3/2;
    justify-self: center;
  }
}
.footer__support {
  grid-area: 4/1/5/2;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 22px;
  color: #fff;
}
@media screen and (max-width: 855px) {
  .footer__support {
    grid-area: 1/2/2/3;
    margin-top: auto;
  }
}
@media screen and (max-width: 512px) {
  .footer__support {
    margin: 0;
    align-self: center;
    justify-self: end;
  }
}
@media screen and (max-width: 440px) {
  .footer__support {
    grid-area: 6/1/7/2;
    justify-self: center;
  }
}
.footer__area-2 {
  grid-area: 5/1/6/4;
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 855px) {
  .footer__area-2 {
    grid-area: 4/1/5/3;
  }
}
@media screen and (max-width: 512px) {
  .footer__area-2 {
    grid-area: 4/2/5/3;
    justify-self: end;
    flex-flow: column;
    gap: 0;
  }
}
@media screen and (max-width: 440px) {
  .footer__area-2 {
    grid-area: 7/1/8/2;
    justify-self: center;
    align-items: center;
  }
}
.footer__copyright, .footer__terms, .footer__policy {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-size: 12.3407px;
  text-transform: none;
  line-height: 32px;
  color: #fff;
}
.footer__terms, .footer__policy {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
