@use '../../utils';

body {
    font-family: 'TT Norms Pro';
}
.body_lock {
    overflow: hidden;
}
.wrapper {
    // original width: 994px;
    max-width: 1024px; // with paddings (2 * 15px)
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    // background: utils.$var-color-green-haze;
    border: none;
    // border-radius: 4.52px;
    cursor: pointer;
}
.btn_color_grey {
    color: utils.$var-color-alto;
}
.btn_color_green {
    color: utils.$var-color-green-haze;
}
.btn_color_white {
    color: utils.$var-color-white;
}
.btn_theme_transparent {
    background-color: transparent;
}
.btn_theme_green {
    background-color: utils.$var-color-green-haze;
}
.btn_bg_grey {
    background-color: utils.$var-color-alto;
}
.btn_bg_green {
    background-color: utils.$var-color-green-haze;
}
[data-dropdown='menu'] {
    display: none;
}
.menu__dropdown_active {
    display: block !important;
}
.img {
    @extend %inner-img;
}
.basket-cart {
    @extend %center-xy-flex;
    text-decoration: none;
    background: transparent;
    &__amount {
        @extend %center-xy-flex;
        border-radius: 50%;
        background: #EB5757;
        font-weight: 500;
        font-style: normal;
        font-size: 10px;
        text-transform: none;
        line-height: 8px;
        color: #FFFFFF;
        font-family: "TT Hoves";
    }
}
.shopping-cart {
    border-radius: 9.03636px;
    background-color: #00AC4E;
}
.choice {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid utils.$var-color-gallery;
    transition: background-color .2s;
    cursor: pointer;
}
.choice:checked {
    background-color: utils.$var-color-green-haze;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
}
.rating-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: center/contain no-repeat url(../../../../img/icons/star/star_not_active.svg);
    cursor: pointer;
}
.rating-item:checked {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:checked ~ .rating-item {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:hover {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
} 
.close-btn {
    background: center/cover no-repeat url("../../../../img/icons/plus.svg");
}


