@use '../../utils';

body {
    font-family: 'TT Norms Pro';
}
.body_lock {
    overflow: hidden;
}
.title {
    font-family: 'TT Hoves'; 
    @include utils.mix-font(500, 28px, 33px, utils.$var-color-black);
}
.text {
    @include utils.mix-font(400, 22px, 26px, utils.$var-color-gray);
}
.link {
    color: utils.$var-color-green-haze;
    text-decoration: none;
    &__text {
        margin-right: 10px;
        @include utils.mix-font(400, 22px, 29px, inherit);
    }
    &__next {
        font-size: 20px;
    }
}
.wrapper {
    // original width: 994px;
    max-width: 1024px; // with paddings (2 * 15px)
    margin: 0 auto;
    padding: 0 15px;
}
.btn-text {
    @include utils.mix-font(500, 20px, 21px, utils.$var-color-white);
}
.btn {
    // background: utils.$var-color-green-haze;
    border: none;
    // border-radius: 4.52px;
    cursor: pointer;
}
.btn_color_grey {
    color: utils.$var-color-alto;
}
.btn_color_green {
    color: utils.$var-color-green-haze;
}
.btn_color_white {
    color: utils.$var-color-white;
}
.btn_theme_transparent {
    background-color: transparent;
}
.btn_theme_green {
    background-color: utils.$var-color-green-haze;
}
.btn_bg_grey {
    background-color: utils.$var-color-alto;
}
.btn_bg_green {
    background-color: utils.$var-color-green-haze;
}
[data-dropdown='menu'] {
    display: none;
}
.menu__dropdown_active {
    display: block !important;
}
.img {
    @extend %inner-img;
}
.img_fit_cover {
    object-fit: cover
}
.img_fit_contain {
    object-fit: contain;
}
.basket-cart {
    @extend %center-xy-flex;
    text-decoration: none;
    background: transparent;
    &__amount {
        @extend %center-xy-flex;
        border-radius: 50%;
        background: #EB5757;
        font-weight: 500;
        font-style: normal;
        font-size: 10px;
        text-transform: none;
        line-height: 8px;
        color: #FFFFFF;
        font-family: "TT Hoves";
    }
}
.shopping-cart {
    border-radius: 9.03636px;
    background-color: #00AC4E;
}
.choice {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid utils.$var-color-gallery;
    transition: background-color .2s;
    cursor: pointer;
}
.choice:checked {
    background-color: utils.$var-color-green-haze;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
}
.rating-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: center/contain no-repeat url(../../../../img/icons/star/star_not_active.svg);
    cursor: pointer;
}
.rating-item:checked {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:checked ~ .rating-item {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:checked ~ .rating-item:disabled {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:checked ~ .rating-item:disabled:hover {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
.rating-item:hover {
    background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
}
// .rating-item:disabled:checked:hover {
//     background: center/contain no-repeat url(../../../../img/icons/star/star_active.svg);
// }
.rating-item:disabled:hover {
    background: center/contain no-repeat url(../../../../img/icons/star/star_not_active.svg);
}  
.close-btn {
    background: center/cover no-repeat url("../../../../img/icons/plus.svg");
}
.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    &__container {
    }
}
.popup-form {
    position: relative;
    background: utils.$var-color-white;
    box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
}
.popup-icon {
    &__item {
        width: 29px;
        height: 29px;
        margin: 0 auto;
        background: center/cover no-repeat url('../../../../img/icons/person.svg');
    }
}
.popup-title1 {
    @include utils.mix-font(500, 15px, 18px, utils.$var-color-black);
    text-align: center;
}
.input-wrap {
    position: relative;
}
.input-check,
.input-phone,
.input-key,
.input-case,
.input-calendar {
    position: absolute;
}
.input-phone {
    background: center/cover no-repeat url('../../../../img/icons/phone.svg');
}
.input-key {
    background: center/cover no-repeat url('../../../../img/icons/key.svg');
}
.input-case {
    background: center/contain no-repeat url('../../../../img/icons/document_case_grey.svg');
}
.input-calendar {
    background: center/cover no-repeat url('../../../../img/icons/date.svg');
}
.input-arrow-down {
    background: center/cover no-repeat url('../../../../img/icons/arrow_down.svg');
}
.form-input {
    background-color: utils.$var-color-alabaster;
    border-color: utils.$var-color-gallery;
    border-style: solid;

    &[type="tel"]:focus:invalid ~ .input-check::after,
    &[type="password"]:focus:invalid ~ .input-check::after,
    &[type="text"]:focus:invalid ~ .input-check::after,
    &[type="email"]:focus:invalid ~ .input-check::after {
        content: '✖';
        color: utils.$var-color-burnt-sienna;
    }
    &[type="tel"]:focus:valid ~ .input-check::after,
    &[type="password"]:focus:valid ~ .input-check::after,
    &[type="text"]:focus:valid ~ .input-check::after,
    &[type="email"]:focus:valid ~ .input-check::after {
        content: '✓';
        color: utils.$var-color-green-haze;
    }
    &:hover.form-input_hover {
        box-shadow: 0 0 1.5px 1px utils.$var-color-green-haze;
        transition: box-shadow .2s;
    }
    &:focus {
        border-color: utils.$var-color-green-haze;
        outline: none;
    }
    &::placeholder {
        font-family: 'TT Norms Pro';
        font-style: normal;
        color: utils.$var-color-silver;
        // @include utils.mix-font(400, 14px, 17px, utils.$var-color-silver);
    }
    &_theme_silver {
        font-family: 'TT Norms Pro';
        font-style: normal;
        color: utils.$var-color-silver;
    }
    &_theme_black {
        font-weight: 500;
        font-style: normal;
        color: utils.$var-color-black;
    }
    // &__item[type="tel"]:focus::placeholder {
    //     color: utils.$var-color-liver;
    // }
}

.cart-img {
    background: center/cover no-repeat url('../../../../img/icons/shopping-cart.svg');
}

